.header-corporate-list {
  display: flex;
  align-items: center;
  margin: 0 0 40px;

  .search-container,
  .right-icon-header {
    display: flex;
    align-items: center;
  }

  .page-title {
    width: 20%;

    h3 {
      font-size: 18px;
    }
  }

  .search-container {
    width: 85%;

    button {
      background-color: transparent;
      border: 0;
    }

    .fa-plus {
      margin: 0 5px 0 0;
    }
  }

  .search-input-wrapper {
    position: relative;
    margin-right: 10px;

    i {
      position: absolute;
      font-size: 18px;
      top: 10px;
      left: 10px;
      color: #979797;
    }

    input {
      height: 40px;
      width: 440px;
      padding: 4px 5px 5px 35px;
      border: 0;
      border-radius: 4px;
      border-bottom: 1px solid #ecebeb;
      background-color: #f9f9f9;
    }
  }

  .right-icon-header {

    >div {
      margin: 0 20px 0 0;
    }

    >div:last-child {
      margin: 0;
    }

    img {
      width: 20px;
      // height: 16px;
      cursor: pointer;
    }
  }
}
.corporate-tbl-list-wrapper {
  overflow: auto;

  .corporate-tbl-list-container {
    min-width: 1500px;
  }

  &::-webkit-scrollbar {
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #aaa;
    border: 2px solid #ddd;
  }

  &::-webkit-scrollbar-track {
    /*background-color: transparent;*/
    background-color: #ddd;
  }
}

.corporates-container table {
  border: 0.5px solid #d0d0d0;

  .corporate-data {
    cursor: pointer;
  }

  th:nth-child(1),
  td:nth-child(1) {
    padding: 10px;
    width: 60px;
  }

  thead {
    background-color: #EFF2F4;

    th {
      font-size: 14px;
      font-family: 'Helvetica Light';
      padding: 10px 5px;
      border-bottom: 0.5px solid #d0d0d0;
    }

    .selected-companies {
      width: 123px;
    }
  }

  tbody tr {
    border-top: 0.5px solid #d0d0d0;

    &:hover {
      cursor: pointer;
      background-color: #e5f4fd;
    }

    td {
      font-size: 14px;
      padding: 20px 5px;
    }
  }

  .selected-companies-container {
    background-color: rgba(136, 204, 241, 0.22);
    cursor: initial;

    td:nth-child(1) {
      padding: 22px 22px 22px 605px;
    }
  }

  .select-btn-text,
  .export-text span {
    cursor: pointer;
    color: #2e67a7;
  }

  .export-text img {
    width: 14px;
    height: 14px;
    margin:  0 5px 0 0;
    display: inline-block;
  }
}


.corporate-list-checkbox-container {

  .checkbox-input {
    display: block;
    position: relative;
    margin-bottom: 0px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 0px;

    input {
      opacity: 0;
      cursor: pointer;
      margin: 0;
    }

    input:checked ~ .checkbox-mark { 
      background-color: #4154AF;
      border: 1px solid #4154AF;
    }

    input:checked ~ .checkbox-mark:after {
      display: block;
    }

    .checkbox-mark {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 18px;
      width: 18px;
      border: 1px solid #777;
      border-radius: 2px;
    }

    .checkbox-mark:after {
      content: "";
      position: absolute;
      display: none;
      left: 5px;
      top: 1px;
      width: 7px;
      height: 11px;
      border: solid white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
      border-radius: 2px;
    }
  }
}



/* Extra Large (xl) */
@media (max-width: 1260px) { 
  .header-corporate-list {
    .page-title{
      width: 220px;
    }
    .search-container{
      flex: 1;
    }
    .right-icon-header{
      width: 90px;
    }
  }
}
/* Large (lg) */
@media (max-width: 1024px) { 
  .header-corporate-list {
    .search-container{
      flex: 1;
    }
  }
}
/* Mobile max */
@media (max-width: 992px) { 
  .header-corporate-list {
    .search-input-wrapper input{
      width: 250px;
    }
  }
  .corporates-container{
    padding: 15px;
  }
}
/* Medium (md) */
@media (max-width: 768px) { 
  .header-corporate-list {
    flex-wrap: wrap;
    margin-bottom: 20px;

    .page-title{
      width: 100%;
      margin-bottom: 15px;
    }
  }
}
/* Small (sm) */
@media (min-width: 641px) { 
  .xxs-show{
    display: none !important;
  }
}
@media (max-width: 640px) { 
  .header-corporate-list {
    .page-title{
      width: calc( 100% - 100px );

      h3{
        font-size: 14px;
      }
    }
    .xxs-hide.right-icon-header{
      display: none;
    }
    .xxs-show.right-icon-header{
      width: 100px;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 15px;
    }
    .search-input-wrapper{
      width: calc( 100% - 85px );

      input{
        width: 100%;
      }
    }
  }
  .prev-next-container {
    span{
      display: none;
    }
  }
}
@media (max-width: 500px) { 
  .corporate-pagination{
    .page-scroll-container{
      margin: 0 15px 0 0;
    }
  }
}
@media (max-width: 450px) { 
  .corporate-pagination{
    flex-wrap: wrap;

    .page-wrapper{
      width: 100%;
      margin-bottom: 15px;
    }
    .page-scroll-container{
      margin: 0;
      justify-content: center;
    }
  }
}