/* EMPLOYEE INFO*/
.close-btn {
  position: absolute;
  top: 14px;
  right: 15px;
  font-size: 10px;
}

.menu-responsive {
  cursor: pointer;
  position: absolute;
  z-index: 999;
  top: 12px;
  right: -70.5px;
  width: 70px;
  height: 55px;
  padding: 10px;
  background: #1667ac;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  // border-radius: 2px;

  border-radius: 0 50% 50% 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 5px;
  // display:none;

  img {
    height: 30px !important;
    width: 30px !important;
  }
}

.employee-menu-container {
  min-height: calc(100vh - 60px);
  // display: flex;
  // width: 100%;

  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 5fr;

  .left-box-wrapper {
    width: 270px;
    min-width: 270px;
    background: #fff;
    border: 1px solid rgb(203, 203, 203);
    position: relative;
    margin: 16px 8px 16px 16px;
  }
  .corporate-details-box {
    padding: 25px 20px;
    text-align: center;
    /*background: #1383b3;*/

    img {
      width: 100px;
      height: 100px;
      display: block;
      border-radius: 50%;
      margin: 0px auto;
      background: #fff;
    }
    p {
      color: #444;
      font-size: 28px;
    }
  }
  .emp-status-wrapper {
    padding: 15px;
    border: 1px solid #e2e2e2;
    border-width: 0 0 1px 0;
    display: flex;
    margin: 0 10px;
  }
  .plan-info-wrapper {
    padding: 30px 15px;
    border: 1px solid #e2e2e2;
    border-width: 0 0 1px 0;
    margin: 0 10px;
  }
  .spending-wrapper {
    padding: 30px 15px;
    margin: 0 10px;
  }
  .allocation-wrapper {
    border-bottom: 1px solid #e2e2e2;
    padding: 0 0 10px;
    margin: 0 0 20px;

    .row-div {
      border: 0;
      padding: 0;
      margin: 0;
    }

    .small {
      color: #0392cf;
      font-size: 65%;
      line-height: 1.5;
      margin: 10px 0 0;
      width: 145px;
    }
  }
  .row-div {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e2e2;
  }
  .row-div.plan-info {
    flex-wrap: wrap;

    .label-text {
      width: 100%;
      flex: none;
    }
    .status-div {
      margin: 10px 0;
      text-align: left;
    }
  }
  .p-label {
    font-size: 16px;
    color: #000;
    font-family: "Helvetica Medium";
  }
  .label-text {
    flex: 1;
    font-weight: 700;
    font-size: 14px;
    color: #000;
    font-family: "Helvetica Medium";
  }
  .status-div {
    flex: 2;
    text-align: right;
    color: #555;
    font-size: 14px;

    .oi {
      position: relative;
      top: 2px;
      margin-left: 10px;
    }
    &.active .oi {
      color: #42b72a;
    }
    &.inactive .oi {
      color: #f1785c;
    }
  }
  .btn-access-account {
    width: 100%;
    margin: 20px 0;
    font-weight: 700;
    font-size: 18px;
    height: auto;
    padding: 15px 0;
  }

  .right-box-wrapper {
    flex: 1;
    margin: 16px 16px 16px 8px;
    // width: 80%;
    background: #fff;
    border: 1px solid rgb(203, 203, 203);
  }

  .employee-information-container {
    .fa-times {
      cursor: pointer;
      font-size: 16px;
    }

    tr th {
      font-family: "Helvetica Light";
    }

    .btn {
      background-color: transparent;
      border: 2px solid #e8e8e8;
      border-radius: 4px;
      padding: 7px 14px;
      font-weight: 700;
    }

    .emp-information-container-details,
    .dependent-details,
    .claim-submission-details,
    .settings-details {
      padding: 20px 40px 0;
    }

    h3 {
      font-size: 24px;
      font-weight: 700;
      margin: 15px 0;
    }

    .btn-edit img,
    .btn-add img {
      height: 18px;
      margin: 0 10px 0 0;
      display: inline-block;
    }

    .btn-remove {
      margin: 0 10px;
    }

    .btn-remove-employee {
      color: #ea4b4b;
      border: 2px solid #e26f6f;
      border-radius: 2px;
      position: absolute;
      top: 0;
      right: 0;
    }

    .btn-remove-employee i {
      font-size: 16px;
    }

    .btn-restore {
      border: 2px solid #7864e4;
      color: #6248f1;
    }

    .btn-settings {
      color: #666666;
      font-size: 16px;
      margin: 10px 0 0;
      padding: 10px 20px;
      text-align: left;
      height: 55px;
      width: 300px;
    }

    .btn-settings i {
      font-size: 22px;
      width: 30px;
    }

    .btn-submit {
      width: 120px;
      height: 40px;
      // background-color: #076086;
      background-color: rgb(63,81,181);
      border-radius: 2px;
      border: 0;
      color: #fff;
      font-weight: 700;
      margin: 0;
    }

    .btn-submit[disabled]{
      opacity: .5;
      cursor: not-allowed;
    }

    .btn-medical {
      background-color: transparent;
      border: 2px solid #ddd;
      border-radius: 4px;
      color: #777;
      width: 48%;
      font-weight: 700;
      margin: 0 5px 0 0;
      padding: 10px 0;
      outline: none;
    }

    .btn-medical.active {
      border-color: #36aaec;
    }

    .settings-btn-submit {
      margin: 0 0 0 10px;
    }
  }

  .xs-employee-tabs{
    display: none;
  }

  .emp-tab-wrapper {
    background-color: rgb(236, 240, 241);
    border: 1px solid rgb(203, 203, 203);
    border-width: 1px 0;
    display: flex;
    margin: 20px 0 0;
    padding: 10px 0 0 40px;
    position: relative;

    > div {
      color: rgb(156, 156, 156);
      cursor: pointer;
      font-weight: 700;
      margin: 0 40px 0 0;
      padding: 0 0 10px;
    }

    > div.active {
      color: rgb(40, 62, 82);
      border-bottom: 2px solid rgb(40, 62, 82);
    }
  }

  .emp-info-header {
    position: relative;
    margin: 0 0 30px;

    .right-btn-container {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .dep-info-header {
    position: relative;
    margin: 0 0 30px;

    .right-btn-container {
      position: absolute;
      top: -45px;
      right: 0;
    }
  }

  .emp-information-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
    margin-bottom: 60px;
    font-weight: 700;

    .entitlement-status-container {
      position: relative;
      >span {
        display: flex;
      }
      .small {
        color: #0392cf;
        font-size: 65%;
        line-height: 1.5;
        padding: 0 0 0 10px;
        width: 200px;
      }
      .custom-ellipsis-wrapper {
        display: flex;
        justify-content: center;
        width: 30px;;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
      }
      .custom-ellipsis >div {
        padding: 2px;
        background-color: #333;
        margin: 0 0 2px;
        border-radius: 50%;
      }
      .update-container {
        position: absolute;
        /* width: 50px; */
        right: 0px;
        top: 22px;
        background: #fff;
        border: 1px solid #00000030;
        border-radius: 2px;
        padding: 5px 10px;
        display: block;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        cursor: pointer;
      }
    }
  }

  .col-1-emp-info-details > div,
  .col-2-emp-info-details > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid #cbcbcb;
    padding: 0 0 10px;
    margin: 0 0 10px;

    strong {
      font-family: "Helvetica Medium";
    }

    .emp-username-type-container label {
      margin: 0 10px 0 0;
      display: inline-block;
    }

    .emp-username-type-container input {
      margin: 0 5px 0 0;
    }
  }

  .emp-info-btn-footer {
    position: relative;
  }

  .emp-info-btn-footer > div:nth-child(1) {
    display: flex;

    h3 {
      margin: 0 20px 0 0;
    }
  }
}
.edit-emp-details-header {
  position: relative;

  .emp-name-text {
    font-size: 16px;
  }

  .fa-times {
    position: absolute;
    top: 10px;
    right: 0px;
  }
}
.edit-emp-details-body {
  clear: both;
  display: flex;

  form {
    width: 75%;
    padding: 0 40px 0 0;
  }

  .package-plan-container {
    width: 25%;

    h4 {
      font-size: 18px;
      margin: 0 0 20px;
    }
  }

  .package-details-wrapper {
    margin: 20px 0 0;
  }

  .package-img-name-wrapper {
    display: flex;

    i {
      margin: 0 10px 0 0;
      color: #757575;
      font-size: 22px;
    }
  }

  h6 {
    font-size: 11px;
  }
}
.save-btn-footer {
  margin: 30px 0 0;
  overflow: hidden;

  .btn-edit {
    float: left;
  }
  .btn-primary {
    float: right;
  }
}
.edit-employee-info-container {
  > .fa-times {
    float: right;
  }

  .emp-header-text {
    text-align: center;
    clear: both;

    h3 {
      font-size: 24px;
      margin: 15px 0 30px;
    }
  }

  form {
    width: 570px;
    margin: 0 auto;
  }
}
.edit-dependent-row {
  display: flex;

  > div:nth-child(1) {
    margin: 0 10px 0 0;
    // margin: 0 0 20px 0;
  }
  > div:nth-child(2) {
    margin: 0 0 0 10px;
  }

  .employee-details-input-wrapper {
    width: 100%;
  }

  .date-container {
    position: relative;

    .fa-caret-down {
      position: absolute;
      top: 7px;
      right: 0;
    }
  }
}
.remove-employee-wrapper {
  .save-btn-footer {
    padding: 0 40px;
  }
  .btn.btn-back {
    padding: 8px 30px;
  }
  .btn-next {
    padding: 10px 30px;
  }

  .employee-outcome-container {
    width: 530px;
    margin: 0 auto;
  }

  .outcome-title {
    display: block;
    margin: 0 0 20px;
  }

  .review-prepare-template-text {
    font-size: 10px;
    line-height: 1;
    display: block;
    margin-top: 5px;
  }

  .input-checkbox .input-checkmark {
    height: 20px;
    width: 20px;

    &:after {
      left: 5px;
      height: 10px;
    }
  }

  .replacement-text {
    color: #9c9c9c;
  }

  .medical-subtext {
    font-size: 10px;
  }
}
.health-spending-account-summary-container {
  .bold-text {
    font-family: "Helvetica Medium";
  }

  .account-summary-date {
    text-decoration: underline;
  }
}
.account-summary-pro-rated {
  display: flex;
  align-items: center;
  justify-content: center;

  .health-spending-dpicker {
    display: inline-flex;
    align-items: center;
    border: 2px solid #cbcbcb;
    padding: 2px 8px;

    input {
      border: 0;
      width: 100px;
      text-align: center;
    }

    input::placeholder {
      font-size: 12px;
    }
  }

  .btn-calculate {
    height: 29px;
    padding: 0 15px;
    margin: 0 0 0 10px;
  }
}
.medical-wellness-container {
  border: 1px solid #cbcbcb;
  background-color: #f9f9f9;
  display: flex;
  width: auto;
  max-width: 900px;
  margin: 40px auto 0;
  padding: 20px 40px;

  .spending-account-text {
    margin: 0 0 15px;
    font-family: "Helvetica Medium";
  }

  .spending-account-details > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 0 10px;

    &.current-usage-container,
    &.spent-container,
    &.pending-claim-container {
      margin: 0 0 5px;
    }

    > span {
      text-align: right;
      display: block;
    }
  }

  .separator {
    display: inline-block;
    content: "";
    border: 0.5px solid #cbcbcb;
    text-align: center;
    margin: 0 auto;
  }

  .spending-account-status {
    display: flex;
    align-items: center;

    &:before {
      display: inline-block;
      content: "";
      border: 0;
      border-radius: 50%;
      height: 12px;
      width: 12px;
      margin: 0 10px 0 0;
    }

    &.exceed {
      color: #ff5757;
    }
    &.exceed:before {
      background-color: #ff5757;
    }
    &.on-track {
      color: #33cccb;
    }
    &.on-track:before {
      background-color: #33cccb;
    }
  }
}
.country-code-mobile-container {
  display: flex;

  .country-code-container {
    position: relative;
    margin: 0 10px 0 0;
  }

  .fa-caret-down {
    position: absolute;
    top: 7px;
    right: 0;
  }
}
.btn-network {
  background-color: rgb(63, 81, 181);
  border: 0;
  border-radius: 2px;
  color: #fff;
  width: 150px;
  padding: 10px 0;
}
.claim-submission-details {
  .btn-network-container button {
    margin: 0 10px 0 0;
  }

  .emp-info-header {
    margin: 0;
  }

  .network-header-container {
    position: relative;

    .fa-times {
      position: absolute;
      top: 2px;
      right: 0;
    }
  }

  .out-network-box .network-header-container {
    max-width: 550px;
  }

  .visit-date-input-wrapper.in-network-visit .popover-container,
  .xs-in-network-form .popover-container {
    background: #eee;
    border: 0;
    border-radius: 2px;
    padding: 10px;
    height: 38px;
    font-size: 12px;
    font-weight: 700;
  }

  .in-network-table-container {
    margin: 20px 0 40px;

    input {
      background: #eee;
      border: 0;
      border-radius: 2px;
      padding: 10px;
      width: 100%;
      height: 38px;
      font-size: 12px;
      font-weight: 700;
      cursor: pointer;
    }

    input::placeholder {
      font-weight: 500;
    }

    img {
      width: 20px;
      height: 20px;
      background: #eee;
    }

    table thead,
    table tbody {
      tr th,
      tr td {
        padding: 20px 10px 10px 0;
      }
    }

    .dropdown-menu {
      position: absolute;
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 2px;
      color: #888;
      width: 100%;
      padding: 5px 0px;
    }

    .dropdown-menu li {
      padding: 5px 10px;
      font-size: 11px;
    }
    .dropdown-menu li:hover{
      background: #f5f5f5;
    }

    .visit-date-container {
      position: absolute;
      top: 8px;
      right: 10px;
    }

    .visit-time-container {
      position: absolute;
      top: 9px;
      left: 10px;
    }
  }

  .xs-in-network-form {
    display: flex;
    flex-wrap: wrap;
    margin-right: -18px;

    .claim-form-div {
      // width: 33%;
      width: 14.2%;
      // padding-right: 20px;
      margin-bottom: 30px;

      label {
        width: 100%;
        border-bottom: 1px solid #eee;
        margin-bottom: 10px;
        padding-bottom: 10px;
        display: inline-block;
      }
    }
  }

  .in-network-input-wrapper {
    position: relative;
    width: 90%;

    .health-partner-drop{
      width: 250px;
      padding: 10px;
      border-radius: 2px;
      background: #FFF;
      border: 1px solid #ddd;
      box-sizing: border-box;
      position: absolute;
      z-index: 1000;
      background-image: linear-gradient(to bottom, #337ab7 0%, #2b669a 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2b669a', GradientType=0);
      background-repeat: repeat-x;
      border-color: #2b669a;
      // display: none;
      max-height: 200px;
      overflow-y: auto;
      overflow-x: hidden;

      &::-webkit-scrollbar-thumb {
        background-color: #aaa;
      }
      &::-webkit-scrollbar-track {
        background-color: #ddd;
      }

      .health-partner-drop-row{
        display: flex;
        margin-bottom: 15px;
        cursor: pointer;

        img{
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }

        .partner-details{
          flex: 1;
          padding-left: 10px;

          p{
            margin: 0;
            color: #FFF;
            font-size: 12px;

            span{
              display: inline-block;
              background-color: #d9edf7;
              color: #31708f;
            }
          }
        }
      }
    }
  }

  .service-input-wrapper{
    ul{
      li{
        display: flex;

        a{
          flex: 1;
        }
        .rmv-service{
          flex: none;
          width: 15px;
          i{
            font-size: 13px;
          }
        }
      }
    }
  }

  .visit-date-input-wrapper input {
    padding: 10px 30px 10px 10px;
  }

  .visit-time-input-wrapper input {
    padding: 10px 35px 10px 40px;
  }

  .visit-time-input-wrapper{
    .daytime-drop{
      width: 35px;
      right: 0;

      li{
        text-align: center;
        padding: 5px 0;
      }
    }
  }

  .member-input-wrapper,
  .payment-type-input-wrapper {
    input {
      padding: 10px 20px 10px 10px;
    }

    .fa-caret-down {
      position: absolute;
      top: 14px;
      right: 10px;
      color: #888;
    }
  }

  .am-pm-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 35px;
    text-align: center;
    padding: 5px 0 0;
    color: #888;
    border-left: 1px solid #e9e9e9;
    cursor: pointer;

    span {
      display: block;
      font-size: 10px;
    }
  }

  .caret-down-container {
    position: absolute;
    top: 0;
    right: 0;
  }

  .in-network-btn-footer {
    text-align: right;
  }
}
.health-spending-body {
  text-align: center;

  .members-wallet-text {
    width: 450px;
    margin: 40px auto 0;
  }

  .members-wallet-note {
    color: #9c9c9c;
    margin: 15px 0;
  }

  .btn:nth-child(1) {
    margin: 0 5px 0 0;
  }

  .btn:nth-child(2) {
    margin: 0 0 0 5px;
  }

  .btn.active {
    border: 2px solid #0392cf;
  }
}
.time-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  color: #888;
  font-size: 16px;
  font-weight: 700;
  padding: 0 0 3px;

  .hour,
  .minute {
    flex: 1;
  }

  .middle {
    width: 10px;
  }

  .hour-value {
    margin: 10px 0;
  }

  i {
    cursor: pointer;
  }
}
.out-of-network-form-wrapper {
  // width: 60%;
  max-width: 550px;

  .next-btn-footer {
    text-align: right;

    .btn-back {
      margin: 0 10px 0 0;
    }
  }
}
.out-of-network-form {
  box-shadow: 0px 0px 6px #888;
  padding: 25px 30px;
  margin: 20px 0;
  border: 1px solid #cbcbcb;

  .step-one img {
    width: 20px;
    height: 20px;
    display: inline-block;
  }

  .input-group {
    display: flex;
    margin: 0 0 30px;

    > label {
      width: 40%;
    }

    > div {
      width: 60%;
      display: inline-block;
    }

    .required {
      color: #ea4b4b;
    }

    .input-wrapper {
      position: relative;
    }

    .input-wrapper > .fa-caret-down {
      position: absolute;
      top: 12px;
      right: 20px;
      color: #888;
    }
  }

  .visit-date-input-wrapper input,
  .currency-input-wrapper input {
    padding: 6px 50px 6px 18px;
  }

  .time-input-wrapper input {
    padding: 6px 50px 6px;
  }

  .dropdown-menu {
    position: absolute;
    width: 100%;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    z-index: 1;
    padding: 5px 0;
    z-index: 999;

    a:hover {
      background: #ddd;
    }

    a {
      color: #333;
      font-weight: 400;
      display: block;
      padding: 3px 20px;
    }
  }

  .time-opt-wrapper {
    position: absolute;
    left: 39px;
    z-index: 1;
    background-color: #fff;
    width: 71%;
    padding: 15px 5px;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 0 0 4px 4px;
  }

  .daytime-opt {
    position: absolute;
    right: 0;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 46px;
    text-align: center;
    padding: 5px;

    li {
      font-size: 12px;
      padding: 2px 0;
      color: #888;
    }
  }
  
  .currency-opt {
    position: absolute;
    right: 0;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 46px;
    text-align: center;
    padding: 5px;

    li {
      font-size: 12px;
      padding: 5px 0;
      color: #888;
    }
  }

  input {
    background-color: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    color: #888;
    height: 34px;
    width: 100%;
    padding: 6px 18px;
  }

  .visit-date-container{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 47px;
    height: 100%;
    text-align: center;
    border-left: 1px solid #e9e9e9;
    padding: 6px;
    color: #36aaec;
  }

  .currency-container {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 47px;
    height: 100%;
    text-align: center;
    border-left: 1px solid #e9e9e9;
    padding: 3px 0 0 0;
    color: #36aaec;

    >span{
      display: block;
      height: 12px;
    }
    >i{
      color: #888;
      font-size: 12px;
    }
  }

  .am-pm-container {
    width: 47px;
  }

  .time-input-wrapper {
    .visit-time-container {
      position: absolute;
      align-items: center;
      border-right: 1px solid #e9e9e9;
      display: flex;
      height: 100%;
      justify-content: center;
      width: 40px;
    }

    .fa-caret-down {
      position: relative;
      bottom: 5px;
    }
  }
}
.drop-box {
  background-color: #f8f8f8;
  border: 3px dashed #ddd;
  cursor: pointer;
  width: 100%;
  height: auto;
  margin: 0px 0 20px 0;
  padding: 0 0 10px;
  position: relative;

  input {
    height: 100%;
    position: absolute;
    opacity: 0;
  }

  img {
    width: 55px;
    display: inline-block;
  }

  .drop-box-content {
    text-align: center;
    padding: 30px 0 10px;

    .or-text {
      color: #aaa;
      font-size: 10px;
      margin: 10px 0;
    }

    .select-file-text {
      color: #1d9dd3;
    }

    .file-name-upload-text {
      color: #008000;
      font-size: 10px;
      margin: 10px 0 0;
    }
  }
}
.uploaded-list {
  border-bottom: 1px solid #ddd;
  padding: 0 0 10px;

  h4 {
    margin: 0 0 20px;
  }
}
.progress-wrapper {
  display: flex;

  .progress-bar-container {
    width: 100%;
    padding: 0 30px 0 10px;
  }

  .icon-img img {
    width: 35px;
  }

  .fa-times {
    float: right;
    font-size: 14px;
  }

  .file-name {
    color: #555;
  }

  .progress-bar {
    background-color: #ddd;
    height: 4px;
    width: 100%;
    margin: 8px 0;

    .progress {
      height: 100%;
      background-color: #1d9dd3;
      width: 10%;

      &.progress-error{
        background-color: red;
      }
    }
  }

  .file-size,
  .file-status {
    font-size: 11px;
    color: #aaa;
  }
}
.summary-list-row {
  display: flex;
  margin: 0 0 30px;

  .summary-label {
    width: 250px;
    color: #777;
  }

  .label-item {
    color: #52b4de;
    span.img-wrapper{
      display: inline-block;
      margin-right: 10px;
    }
    img {
      border: 1px solid #ccc;
      width: 55px;
    }
  }
}
.out-of-network-table-container {
  h4 {
    font-size: 16px;
    margin: 15px 0;
  }

  tr th {
    background: #eee;
    border-bottom: 1px solid #eee;
    font-size: 13px;
    padding: 10px;
  }

  tr th,
  tr td {
    padding: 10px 15px;

    // &:first-child {
    //   // padding: 10px 15px;
    // }
  }

  button {
    background-color: rgb(63, 81, 181);
    color: #fff;
    border-radius: 2px;
    padding: 5px 10px;
    border: none;
  }

  .tbl-scroll-wrapper {
    overflow-y: auto;

    &::-webkit-scrollbar {
      height: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 6px;
      background-color: #aaa;
      border: 2px solid #ddd;
    }

    &::-webkit-scrollbar-track {
      /*background-color: transparent;*/
      background-color: #ddd;
    }
  }
}

.remove-dependent-container {
  .modal-header {
    background-color: #ff6763;
    position: relative;

    .fa-times {
      position: absolute;
      top: 20px;
      right: 15px;
    }
  }

  .name-text-value {
    margin: 5px 0 0;
  }

  .modal-footer {
    padding: 10px 20px;
  }

  .btn-delete {
    background-color: #ff6763;
  }
}

.fill-corporate-pass-container {
  .modal-container {
    width: 480px;
    margin: 350px auto;
  }
  .modal-body {
    padding: 24px;
  }

  h4 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 30px;
  }

  input {
    width: 100%;
    height: 30px;
    font-weight: 700;
    border: 0;
    border-bottom: 1px solid #cbcbcb;
  }

  .modal-footer {
    text-align: right;
    padding: 0px;
  }

  button {
    margin: 8px 0 8px 8px;
    height: 36px;
    min-width: 88px;
    color: rgb(63, 81, 181);
    background-color: transparent;
    border: 0;
    border-radius: 2px;

    &:hover {
      background-color: rgba(158, 158, 158, 0.2);
    }
  }
}


.employee-details-input-wrapper {
  label {
    display: block;
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    padding-bottom: 10px;
  }

  input,
  select, .vDatepicker {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0;
    width: 100%;
    height: 30px;
    margin: 0 0 20px;
    background: none;
    
  }

  select {
    width: 100px;
    -webkit-appearance: none;

  }
}
.credits-plans-wrapper {
  h1 {
    font-size: 24px;
  }

  .fa-times {
    float: right;
  }

  .credit-plan-container {
    clear: both;
    display: flex;

    h3 {
      font-size: 18px;
    }

    > div {
      width: 50%;
    }
  }

  .credit-details-container {
    display: flex;
    margin: 30px 0 70px;
  }

  .credit-type-selector,
  .add-deduct-btn-container {
    button {
      background-color: #fff;
      color: #4154af;
      width: 100px;
      margin: 0 10px 0 0;
    }

    button.active {
      background-color: #4154af;
      color: #fff;
    }
  }

  .credit-btn-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .credit-item-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 12px;
    margin: 0 0 10px;
  }

  .credit-input-wrapper {
    margin: 40px 0 0;

    input {
      border: 0;
      border-bottom: 1px solid #cbcbcb;
      padding: 5px 0;
      font-weight: 700;
    }
  }

  .plan-type-selector {
    min-height: 125px;

    select {
      border: 0;
      border-bottom: 1px solid #cbcbcb;
      border-radius: 0;
      min-width: 150px;
    }
  }

  .plan-date-container {
    > div {
      margin: 0 0 30px;
    }

    .date-container {
      display: flex;
      align-items: center;

      img {
        height: 20px;
        width: 20px;
        margin: 0 10px 0 0;
      }
    }

    .start-date-input-wrapper {
      display: flex;
      border-bottom: 1px solid #cbcbcb;
      padding: 5px 0;
    }
  }
}
.plan-type-selector .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  input:checked ~ .plan-type-checkmark:after {
    display: block;
  }

  .plan-type-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.54);
    border-radius: 50%;
  }

  .plan-type-checkmark:after {
    display: none;
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(63, 81, 181, 0.87);
  }
}

/* -------------- Entitlement Information ----------------*/

.entitlement-wrapper {
  padding: 20px 40px;

  .entitlement-btn-edit-wrapper {
    display: flex;
    align-items: center;
    margin: 0 0 70px;

    h3 {
      flex: 1;
    }
  }

  .btn-update {
    background-color: #0392cf;
    color: #fff;
    border: 2px solid #0392cf;
    border-radius: 2px;
    padding: 5px 25px;
    font-weight: 700;
    height: 38px;

     &[disabled] {
      opacity: .5;
    }
  }

  .entitlement-information-details {
    h4 {
      font-size: 16px;
      margin: 15px 0;
    }
  }

  .medical-entitlement-container,
  .wellness-entitlement-container {
    display: flex;
    padding: 10px 0 0 0;

    .entitlement-input-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 2em;
      margin: 0 20px 0 0;

      > div {
        margin: 20px 0 0;
      }
    }
  }

  .entitlement-input-container {
    h5 {
      margin: 15px 0;
    }

    .small {
      padding-top: 10px;
      color: #0392cf;
      font-size: 65%;
      line-height: 1.5;
    }

    &.allocation {
      background-color: #f5f5f5;
      margin: 0 0 10px;
      padding: 20px;

      h5 {
        margin: 10px 0;
      }
    }
  }

  .entitlement-input-label {
    display: flex;
    align-items: center;

    label {
      font-size: 12px;
      padding: 0 10px 0 0;
    }

    input,
    select,
    .entitlement-date-picker {
      width: 100%;
      height: 34px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      padding: 6px 12px;
      font-size: 14px;
      position: relative;
    }

    .entitlement-date-picker {
      width: auto;
      padding: 0 0 0 30px;
      display: flex;
      align-items: center;

      .fa-calendar-o {
        position: absolute;
        left: 9px;
        top: 8px;
      }
    }

    .original-input {
      background-color: #eee;
    }
  }

  .new-allocation-wrapper {
    width: 175px;
  }

  .entitlement-calculation {
    h4 {
      font-size: 18px;
    }

    button {
      margin: 35px 0 0 0;
    }

    .effective-date-error {
      font-size: 10px;
      margin: 10px 0 0;
      color: #f14242;
    }
  }

  .see-more {
    font-size: 14px;

    > div {
      color: #0392cf;
      cursor: pointer;
      font-weight: 500;
      font-size: 13.5px;
    }

    p {
      line-height: 1.2;
      border-top: 1px solid #5555554a;
      padding: 10px 0 0;
      margin: 15px 0;
      font-weight: 500;
    }
  }
}

/* -------------------------------------------------------*/

/* -------------- RESPONSIVE AREA ----------------*/

@media (max-width: 1253px) {
  .entitlement-wrapper {
    .medical-entitlement-container,
    .wellness-entitlement-container {
      .entitlement-input-wrapper {
        grid-template-columns: 1fr 1fr;
        margin: 0 70px 0 0;

        > div {
          margin: 0;
        }
      }
    }
  }
}

/* Extra Large (xl) */
@media (max-width: 1279px) {
}

@media (max-width: 1285px) {
  .credits-plans-wrapper .credit-btn-wrapper {
    grid-template-columns: 1fr;

    .add-deduct-btn-container {
      margin: 10px 0 0;
    }
  }
}

@media (max-width: 1185px) {
  .claim-submission-details{ 
    .xs-in-network-form{
      margin-right: -25px;

      .claim-form-div {
        width: 33%;
        padding-right: 20px;

        .in-network-input-wrapper {
          width: 100%;
        }
      }
    } 
  }
}

/* Large (lg) */
@media (max-width: 1023px) {
  .employee-menu-container {
    grid-template-columns: 1fr 100%;

    .left-box-wrapper {
      position: relative;
      left: -292px;
      // left: -336px;
    }

    .right-box-wrapper {
      position: relative;
      left: -292px;

      .corporate-main-container {
        .toggleResponsive-closeCorporate {
          // grid-template-columns: 1fr;
          .btn-menu {
            display: unset;
          }
        }
      }
    }
  }

  .credits-plans-wrapper {
    .credit-btn-wrapper {
      grid-template-columns: 1fr;
    }

    .credit-btn-wrapper .add-deduct-btn-container {
      margin: 10px 0 0;
    }
  }
}

/* Medium (md) */
@media (min-width: 767px) {
  .xs-show {
    display: none;
  }
  .xs-hide {
    display: inherit;
  }
  .xs-show-tbl-cell {
    display: none;
  }
  .xs-hide-tbl-cell {
    display: table-cell;
  }
}
@media (max-width: 768px) {
  .xs-show {
    display: inherit;
  }
  .xs-hide {
    display: none;
  }
  .xs-show-tbl-cell {
    display: table-cell;
  }
  .xs-hide-tbl-cell {
    display: none;
  }
  .claim-submission-details {
    .xs-in-network-form {
      display: flex;
    }
  }
}

@media (max-width: 752px) {
  .entitlement-wrapper {
    padding: 20px;

    .medical-entitlement-container,
    .wellness-entitlement-container {
      .entitlement-input-wrapper {
        grid-template-columns: 1fr 1fr;
        margin: 0 20px 0 0;
      }
    }
  }
}
  
@media (max-width: 670px) {
  .entitlement-wrapper {
    padding: 20px;

    .medical-entitlement-container,
    .wellness-entitlement-container {
      margin: 0 0 50px;

      .entitlement-input-wrapper {
        grid-template-columns: 1fr;
        margin: 0 100px 0 0;
      }
    }
  }
  .employee-menu-container{
    .emp-tab-wrapper{
      display: none;
    }
  }
  .employee-menu-container{
    .xs-employee-tabs{
      display: flex;
      margin: 20px 0 0;
      padding: 10px 0 0 70px;
      position: relative;
      .emp-tab-box{
        position: relative;
      }
      .emp-tab-select{
        background: transparent;
        margin: 0 0 10px 0;
        font-weight: 700;
        border-bottom: 2px solid #555;
        padding: 0 20px 5px 0;
        border-radius: 0;
      }
      i{
        position: absolute;
        right: 10px;
        top: 5px;
      }
    }
  }
}

/* Small (sm) */
@media (max-width: 640px) {
  .claim-submission-details {
    .xs-in-network-form {
      .claim-form-div {
        width: 50%;
      }
    }

    .btn-network-container {
      margin: 0 -10px;
      display: flex;

      .btn-network {
        margin: 0 10px;
        flex: 1;
      }
    }
  }
  .employee-menu-container {
    .employee-information-container {
      .emp-information-container-details,
      .dependent-details,
      .claim-submission-details,
      .settings-details {
        padding: 20px;
      }

      .emp-tab-wrapper {
        padding-left: 20px;
      }
    }
  }
  .out-of-network-form-wrapper {
    max-width: unset;
    padding-top: 20px;
  }
  .out-of-network-form {
    padding: 20px 0;
    box-shadow: none;
    border-width: 1px 0 0 0;

    .input-group {
      flex-wrap: wrap;

      .spending-type-box {
        display: flex;

        button {
          margin: 0 5px;
          flex: 1;
        }
      }
      > label {
        width: 100%;
        margin-bottom: 8px;
      }
      > div {
        width: 100%;
      }
    }
  }
}

@media (max-width: 575px) {
  .credits-plans-wrapper {
    position: relative;

    .fa-times {
      position: absolute;
      top: 8px;
      right: 0;
    }

    .credit-plan-container {
      display: block;

      > div {
        width: 100%;
      }
    }
  }
}
@media (max-width: 560px) {
  .entitlement-wrapper {
    padding: 20px;

    .medical-entitlement-container,
    .wellness-entitlement-container {
      margin: 0 0 50px;
      display: grid;
      grid-template-columns: 1fr 1fr;

      .entitlement-input-wrapper {
        grid-template-columns: 1fr;
        margin: 0 40px 0 0;
      }
    }
  }
}

@media (max-width: 500px) {
  .entitlement-wrapper {
    padding: 20px;

    .medical-entitlement-container,
    .wellness-entitlement-container {
      margin: 0 0 50px;
      display: grid;
      grid-template-columns: 1fr;

      .entitlement-input-wrapper {
        grid-template-columns: 1fr;
        margin: 0 0 20px;
      }
    }

    .entitlement-input-label .entitlement-date-picker {
      width: 100%;
    }
  }
}

@media (max-width: 460px) {
  .claim-submission-details {
    .xs-in-network-form {
      .claim-form-div {
        width: 100%;
      }
    }
  }
}

// -------------- EMPLOYEE INFO SETTINGS ---------------- //

@media (max-width: 450px) {
  .employee-menu-container .employee-information-container .btn-settings {
    width: 100%;
    font-size: 14px;
    padding: 10px;
  }
}

// ------------------------------------------------------ //

/* -----------------------------------------------*/
