.settings-wrapper{
  .header-title{
    font-size: 18px;
    margin-bottom: 40px;
  }

  .settings-menu-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 15px;

    .menu-item{
      display: flex;
      
      border: solid 2px #999;
      border-radius: 6px;
      padding: 35px;
      align-items: center;
      height: 100px;
      vertical-align: middle;
      cursor: pointer;

      .img-wrapper{
        height: 40px;
        margin-right: 16px;

        img{
          height: 100%;
          display: inline-block;
        }
      }
      .item-desc{
        flex: 1;
        font-size: 14px;
      }
    }
  }

}

// bulk credit allocation
.bulk-credit-alloc-wrapper {
  
  .credit-alloc-header {
    text-align: center;

    h1 {
      font-size: 24px;
      font-weight: 500;
      margin: 0 0 20px;
    }
  }

  .credit-alloc-body {
    margin: 40px 0 0;
    flex-wrap: wrap;
  }

  .credit-search-container {
    display: flex;
    align-items: center;
    >span {
      padding: 0 5px 0 0;
    }
    >div {
      width: 100%;
    }
    
    >div input {
      padding: 5px 10px 5px;
      width: 270px;
      border-bottom: 1px solid #888;
    }
    >div input::placeholder {
      color: #666;
    }
  }

  .employee-pagination {
    align-items: center;
    padding: 20px 0 40px;
    

    .prev-next-container {
      align-items: center;
      flex: 1;
    }

    .range-pagination {
      text-align: center;
      flex: 1;
    }
    .per-page-container {
      margin: 0 0 0 30px;
      position: relative;
    }

    .page-num-container {
      cursor: pointer;
      padding: 0 0 2px;
    }

    .per-page-num {
      padding: 0 10px 0 15px;
    }

    .per-page-dp {
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: #ECF0F1;
      border-bottom: 1px solid #ccc;
      box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
      width: 130px;
      height: 250px;
      padding: 20px 0;
      overflow: auto;
      >div {
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 48px;
        padding: 0 15px;
      }
    }
  }
}

.credit-employee-wrapper {
  width: 290px;
  height: 550px;
  padding: 0 10px 0 0;
  .employee-header {
    background-color: rgb(63,81,181);
    color: #fff;
    padding: 12px 20px;

    h3 {
      font-size: 20px;
      font-weight: 500;
    }
  }
  .employee-body {
    padding: 10px 20px;
    border: 1px solid #ccc;

    .emp-info-row {
      margin: 0 0 15px;
    }
    .emp-title {
      color: #000;
    }
  }

  .credit-toggle-btn button {
    border: 2px solid #bbb3b3;
    color: #a5a0a0;
    width: 88px;
    height: 40px;
    font-size: 12px;
    font-weight: 700;

    &:nth-child(1) {
      border-radius: 4px 0 0 4px;
      border-width: 2px 1px 2px 2px;
    }
    &:nth-child(2) {
      border-radius: 0 4px 4px 0;
      border-width: 2px 2px 2px 1px;
    }

    &.active {
      border: 2px solid #44a4cc;
    }
  }

  .credit-toggle-btn.add-deduct-btn button {
    width: 65px;
    height: 32px;
  }

  .allocation-usage-container {
    display: flex;
    margin: 20px 0 0;

    >div:nth-child(1) {
      width: 45%;
    }
    
    >div:nth-child(2) {
      width: 55%;
    }

    span {
      font-weight: 500;
    }

    .allocation-usage >div {
      line-height: 1.3;
      margin: 0 0 10px;
    }
  }

  .add-deduct-input-wrapper {
    margin: 0 0 40px;
    label {
      display: block;
      font-size: 12px;
      font-weight: 500;
    }
    input {
      border-bottom: 1px solid rgba(0,0,0,0.12);
    }
  }
}

// reset company credits
.reset-company-credits-wrapper {
  h2 {
    font-size: 18px;
    margin: 0 20px 0 0;
  }

  .reset-label-text {
    font-size: 12px;
    color: #999;
  }
  .effective-date-container {
    margin: 40px 0;

    .fa-calendar-o {
      align-self: flex-end;
      font-size: 18px;
      margin: 0 20px 0 0;
    }

    .reset-date-picker {
      position: relative;

      .fa-caret-down {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
  .reset-first-step {
    input {
      border-bottom: 1px solid #999;
      padding: 5px 5px 5px 0;
    }
  }

  .new-company-credits-container {
    h4 {
      font-size: 16px;
      margin: 0 0 20px;
    }
    .currency-type {
      align-self: flex-end;
      margin: 0 20px 0 0;
    }
  }

  .reset-second-step {
    .drop-box {
      background: #F8F8F8;
      border: 3px dashed #DDD;
      width: auto;
      height: 200px;
      text-align: center;
      padding-top: 30px;
      margin: 20px 10px 10px;

      img {
        width: 100px;
        margin: 0 auto;
      }

      .selected-file {
        color: rgb(0, 128, 0);
        height: 10px;
      }

      >div {
        margin: 10px 0;
      }
    }
  }

  .btn-gray-with-shadow {
    background-color: rgb(250,250,250);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    border-radius: 2px;
    font-weight: 700;
  }

  .reset-company-footer{
    margin: 50px 0 0;
    button {
      padding: 8px 34px;
    }
  }
}

.download-emp-list-btn {
  display: flex;
  padding: 6px 20px;
  img {
    height: 18px;
    width: 18px;
    margin: 0 5px 0 0;
  }
}


/* Extra Large (xl) */
@media (min-width: 1450px) { 
  .settings-wrapper{
    .settings-menu-box{
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
@media (min-width: 1710px) { 
  .settings-wrapper{
    .settings-menu-box{
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
}
@media (max-width: 1280px) { 
  .settings-wrapper{
    .settings-menu-box{
      .menu-item{
        padding: 20px;
      }
    }
  }
}

/* Large (lg) */
@media (max-width: 1024px) { 
  

}

/* Medium (md) */
@media (max-width: 768px) { 
  .settings-wrapper{
    .settings-menu-box{
      grid-template-columns: 1fr 1fr;
    }
  }
}

/* Small (sm) */
@media (max-width: 640px) { 
  

}
@media (max-width: 520px) { 
  .settings-wrapper{
    .settings-menu-box{
      grid-template-columns: 1fr;

      .menu-item{
        margin: 0 20px;
      }
    }
  }

}

@media (max-width: 400px) {
  .bulk-credit-alloc-wrapper {
    .credit-search-container >div input {
      width: 220px;
    }

    .employee-pagination.dp-flex {
      display: block;
    }
    .employee-pagination .per-page-container {
      margin: 30px 0 0;
      text-align: center;
    }
  }
}