.header-corporate-list {
  display: flex;
  align-items: center;
  margin: 0 0 40px;

  .search-container,
  .right-icon-header {
    display: flex;
    align-items: center;
  }

  .page-title {
    width: 20%;

    h3 {
      font-size: 18px;
    }
  }

  .search-container {
    width: 85%;

    button {
      background-color: transparent;
      border: 0;
    }

    .fa-plus {
      margin: 0 5px 0 0;
    }
  }

  .search-input-wrapper {
    position: relative;
    margin-right: 10px;

    i {
      position: absolute;
      font-size: 18px;
      top: 10px;
      left: 10px;
      color: #979797;
    }

    input {
      height: 40px;
      width: 440px;
      padding: 4px 5px 5px 35px;
      border: 0;
      border-radius: 4px;
      border-bottom: 1px solid #ecebeb;
      background-color: #f9f9f9;
    }
  }

  .right-icon-header {

    >div {
      margin: 0 20px 0 0;
    }

    >div:last-child {
      margin: 0;
    }

    img {
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
  }
}
.corporate-tbl-list-wrapper {
  overflow: auto;

  .corporate-tbl-list-container {
    min-width: 1500px;
  }

  &::-webkit-scrollbar {
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #aaa;
    border: 2px solid #ddd;
  }

  &::-webkit-scrollbar-track {
    /*background-color: transparent;*/
    background-color: #ddd;
  }
}

.corporates-container table {
  border: 0.5px solid #d0d0d0;

  .corporate-data {
    cursor: pointer;
  }

  th:nth-child(1),
  td:nth-child(1) {
    padding: 10px;
    width: 60px;
  }

  thead {
    background-color: #EFF2F4;

    th {
      font-size: 14px;
      font-family: 'Helvetica Light';
      padding: 10px 5px;
      border-bottom: 0.5px solid #d0d0d0;
    }

    .selected-companies {
      width: 123px;
    }
  }

  tbody tr {
    border-top: 0.5px solid #d0d0d0;

    &:hover {
      cursor: pointer;
      background-color: #e5f4fd;
    }

    td {
      font-size: 14px;
      padding: 20px 5px;
    }
  }

  .selected-companies-container {
    background-color: rgba(136, 204, 241, 0.22);
    cursor: initial;

    td:nth-child(1) {
      padding: 22px 22px 22px 605px;
    }
  }

  .select-btn-text,
  .export-text span {
    cursor: pointer;
    color: #2e67a7;
  }

  .export-text img {
    width: 14px;
    height: 14px;
    margin:  0 5px 0 0;
    display: inline-block;
  }
}


.corporate-list-checkbox-container {

  .checkbox-input {
    display: block;
    position: relative;
    margin-bottom: 0px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 0px;

    input {
      opacity: 0;
      cursor: pointer;
      margin: 0;
    }

    input:checked ~ .checkbox-mark { 
      background-color: #4154AF;
      border: 1px solid #4154AF;
    }

    input:checked ~ .checkbox-mark:after {
      display: block;
    }

    .checkbox-mark {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 18px;
      width: 18px;
      border: 1px solid #777;
      border-radius: 2px;
    }

    .checkbox-mark:after {
      content: "";
      position: absolute;
      display: none;
      left: 5px;
      top: 1px;
      width: 7px;
      height: 11px;
      border: solid white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
      border-radius: 2px;
    }
  }
}

.corporate-pagination {
  display: flex;
  color: #777;
  padding: 40px 0 150px;
  justify-content: center;
  align-items: center;

  span {
    font-size: 12px;
  }

  .prev-next-container {
    display: flex;
    align-items: center;
  }

  .fa-angle-left {
    margin: 0 10px 0 0;
    font-size: 25px;
  }

  .fa-angle-right {
    margin: 0 0 0 10px;
    font-size: 25px;
  }

  .page-scroll-container {
    display: flex;
    margin: 0 70px 0 0;

    >div {
      margin: 0 10px;
    }
  }

  .page-num {
    border-radius: 2px;
    margin: 0 10px 0 0;
    padding: 5px 8px;
    cursor: pointer;

    &.active {
      background-color: #e8e8e8;
    }

    &:last-child{
      margin: 0;
    }
  }

  .corporate-list-per-page {
    position: relative;
    cursor: pointer;

    >span:first-child {
      margin: 0 5px 0 0;
    }

    i {
      font-size: 14px;
    }
  }

  .opened-per-page-scroll {
    border: 1px rgba(0,0,0,.12) solid;
    background-color: #fff;
    position: absolute;
    width: 140px;
    bottom: 40px;
    left: -38px;
    padding: 0 0 10px;

    >span {
      display: block;
      text-align: center;
      padding: 10px 20px;
      cursor: pointer;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: -8px;
      /* top: 108px; */
      left: 63px;
      width: 14px;
      height: 14px;
      background-color: white;
      border: 1px rgba(0,0,0,.12) solid;
      border-left: 0;
      border-top: 0;
      transform: rotate(45deg);
    }
  }
}

.add-filter-wrapper {

  .modal-container {
    width: 270px;
    padding: 30px 20px;
    font-size: 16px;
    margin: 150px auto 0;
  }

  .modal-header >div {
    display: flex;
    align-items: center;
    margin: 0 0 20px;

    h3 {
      flex: 1;
    }
  }

  .cancel-icon {
    width: 14px;
    height: 14px;
  }

  .calendar-icon {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  button {
    width: 100%;
  }

  input {
    background-color: #EFF2F4;
    border-radius: 2px;
    border: 1px solid #E0E0E0;
    color: #949494;
    height: 38px;
    width: 100%;
    padding: 0 0 0 35px;
    font-size: 14px;
  }

  .expiry-input-wrapper {
    margin: 0 0 20px;

    .date-container {
      position: relative;
      margin: 10px 0 0;
    }
  }

  .modal-footer {
    margin: 40px 0 0;
  }
}

.export-modal-wrapper {
  font-size: 16px;

  .modal-container {
    border-radius: 0;
    width: 700px;
  }

  .modal-header >div {
    background-color: #4657cc;
    /*background-color: rgb(63,81,181);*/
    color: #fff;
    display: flex;
    align-items: center;
    height: 64px;
    padding: 0 16px;

    h3 {
      flex: 1;
    }

    img {
      width: 15px;
      height: 15px;
    }
  }

  .modal-body {
    padding: 25px 25px 40px;

    .dl-corp-content-wrapper {
      display: flex;
      min-height: 600px;
    }

    .properties-container {
      padding: 0 15px 0 0;
      border-right: 2px solid #e9e9e9;
      width: 50%;
    }

    .selected-columns-container {
      padding: 0 0 0 15px;
      width: 50%;
    }
  }

  .properties-search-container {
    position: relative;
    border: 1px solid #cecece;
    padding: 6px 8px;
    border-radius: 3px;
    display: flex;
    background: #fbfbfb;

    input {
      background-color: transparent;
      border: 0;
      flex: 1;
      font-weight: 700;
    }

    i {
      color: #999;
    }
  }

  .properties-title {
    margin: 25px 0 18px 0;
  }

  .corporate-list-checkbox-container .checkbox-input {
    .checkbox-label {
      padding: 0 0 0 35px;
    }

    .checkbox-mark {
      top: 2px;
    }
  }

  .data-column-header-title {
    margin: 15px 0;
  }

  .selected-col-box-container {
    border: 1px solid #4154AF;
    width: 220px;
    height: 30px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 0 10px;

    span {
      flex: 1;
    }

    i {
      cursor: pointer;
      color: #999;
    }
  }

  .modal-footer {
    padding: 25px;
  }
}


















/* Extra Large (xl) */
@media (max-width: 1260px) { 
  .header-corporate-list {
    .page-title{
      width: 220px;
    }
    .search-container{
      flex: 1;
    }
    .right-icon-header{
      width: 90px;
    }
  }
}
/* Large (lg) */
@media (max-width: 1024px) { 
  .header-corporate-list {
    .search-container{
      flex: 1;
    }
  }
}
/* Mobile max */
@media (max-width: 992px) { 
  .header-corporate-list {
    .search-input-wrapper input{
      width: 250px;
    }
  }
  .corporates-container{
    padding: 15px;
  }
}
/* Medium (md) */
@media (max-width: 768px) { 
  .header-corporate-list {
    flex-wrap: wrap;
    margin-bottom: 20px;

    .page-title{
      width: 100%;
      margin-bottom: 15px;
    }
  }
}
/* Small (sm) */
@media (min-width: 641px) { 
  .xxs-show{
    display: none !important;
  }
}
@media (max-width: 640px) { 
  .header-corporate-list {
    .page-title{
      width: calc( 100% - 100px );

      h3{
        font-size: 14px;
      }
    }
    .xxs-hide.right-icon-header{
      display: none;
    }
    .xxs-show.right-icon-header{
      width: 100px;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 15px;
    }
    .search-input-wrapper{
      width: calc( 100% - 85px );

      input{
        width: 100%;
      }
    }
  }
  .prev-next-container {
    span{
      display: none;
    }
  }
}
@media (max-width: 500px) { 
  .corporate-pagination{
    .page-scroll-container{
      margin: 0 15px 0 0;
    }
  }
}
@media (max-width: 450px) { 
  .corporate-pagination{
    flex-wrap: wrap;

    .page-wrapper{
      width: 100%;
      margin-bottom: 15px;
    }
    .page-scroll-container{
      margin: 0;
      justify-content: center;
    }
  }
}