.settings-wrapper{
  .header-title{
    font-size: 18px;
    margin-bottom: 40px;
  }

  .settings-menu-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 15px;

    .menu-item{
      display: flex;
      
      border: solid 2px #999;
      border-radius: 6px;
      padding: 35px;
      align-items: center;
      height: 100px;
      vertical-align: middle;
      cursor: pointer;

      .img-wrapper{
        height: 40px;
        margin-right: 16px;

        img{
          height: 100%;
          display: inline-block;
        }
      }
      .item-desc{
        flex: 1;
        font-size: 14px;
      }
    }
  }

}

.credit-employee-wrapper {
  width: 290px;
  height: 550px;
  padding: 0 10px 0 0;
  .employee-header {
    background-color: rgb(63,81,181);
    color: #fff;
    padding: 12px 20px;

    h3 {
      font-size: 20px;
      font-weight: 500;
    }
  }
  .employee-body {
    padding: 10px 20px;
    border: 1px solid #ccc;

    .emp-info-row {
      margin: 0 0 15px;
    }
    .emp-title {
      color: #000;
    }
  }

  .credit-toggle-btn button {
    border: 2px solid #bbb3b3;
    color: #a5a0a0;
    width: 88px;
    height: 40px;
    font-size: 12px;
    font-weight: 700;

    &:nth-child(1) {
      border-radius: 4px 0 0 4px;
      border-width: 2px 1px 2px 2px;
    }
    &:nth-child(2) {
      border-radius: 0 4px 4px 0;
      border-width: 2px 2px 2px 1px;
    }

    &.active {
      border: 2px solid #44a4cc;
    }
  }

  .credit-toggle-btn.add-deduct-btn button {
    width: 65px;
    height: 32px;
  }

  .allocation-usage-container {
    display: flex;
    margin: 20px 0 0;

    >div:nth-child(1) {
      width: 45%;
    }
    
    >div:nth-child(2) {
      width: 55%;
    }

    span {
      font-weight: 500;
    }

    .allocation-usage >div {
      line-height: 1.3;
      margin: 0 0 10px;
    }
  }

  .add-deduct-input-wrapper {
    margin: 0 0 40px;
    label {
      display: block;
      font-size: 12px;
      font-weight: 500;
    }
    input {
      border-bottom: 1px solid rgba(0,0,0,0.12);
    }
  }

  .btn-account-removed[disabled] {
    opacity: .5;
    height: 36px;
    background-color: rgba(0,0,0,0.12);
    padding: 0 20px;
  }
}

// reset company credits
.reset-company-credits-wrapper {
  h2 {
    font-size: 18px;
  }

  .reset-label-text {
    font-size: 12px;
    color: #999;
  }
  .effective-date-container {
    margin: 40px 0;

    .fa-calendar-o {
      align-self: flex-end;
      font-size: 18px;
      margin: 0 20px 0 0;
    }

    .reset-date-picker {
      position: relative;

      .fa-caret-down {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
  .reset-first-step {
    input {
      border-bottom: 1px solid #999;
      padding: 5px 5px 5px 0;
    }
  }

  .new-company-credits-container {
    h4 {
      font-size: 16px;
      margin: 0 0 20px;
    }
    .currency-type {
      align-self: flex-end;
      margin: 0 20px 0 0;
    }
  }

  .reset-third-step {
    margin: 40px 0 0;
    >div {
      text-align: center;
      margin: 10px 0;
    }
  }
  .edit-emp-details {
    img {
      height: 20px;
      width: 20px;
    }
    .btn-close {
      margin: 10px 10px 10px 0;
    }
  }

 .edit-emp-input-wrapper {
    margin: 0 0 20px;

    &.start-date {
      img {
        align-self: flex-end;
        margin: 0 10px 0 0;
      }
      >div {
        width: 122px;
      }
    }
  }
}

// reset company and add dependent table
table.review-excel-tbl,
table.add-dependent-tbl {
  border: 1px solid #ccc;

  thead {
    background-color: #F5F8FA;
    font-size: 14px;
  }

  thead tr th {
    font-family: 'Helvetica Light';
  }

  thead tr th:first-child,
  thead tr th:last-child,
  tbody tr td:first-child,
  tbody tr td:last-child {
    padding: 20px;
  }

  tbody tr td {
    padding: 20px;
  }

  .fa-trash {
    font-size: 20px;
    color: rgb(255,0,0);
    cursor: pointer;
  }
  img {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
}

.add-dependent-tbl-wrapper {
  margin: 50px 0 0;
}

// drop box for reset company credits and add employee dependent
.drop-box-wrapper {
  .drop-box {
    background: #F8F8F8;
    border: 3px dashed #DDD;
    width: auto;
    height: 200px;
    text-align: center;
    padding: 30px 0 20px;
    margin: 20px 0 10px;
    position: relative;
    
    >input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
    img {
      width: 80px;
      margin: 0 auto;
    }

    .selected-file {
      color: rgb(0, 128, 0);
      height: 10px;
    }

    >div {
      margin: 10px 0;
    }
  }
}

.btn-gray-with-shadow {
  background-color: rgb(250,250,250);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  border-radius: 2px;
  font-weight: 700;
  margin: 0 0 0 20px;
}

.download-emp-list-btn {
  display: flex;
  padding: 6px 20px;
  img {
    height: 18px;
    width: 18px;
    margin: 0 5px 0 0;
  }
}

.reset-company-footer,
.add-dependent-footer {
  margin: 50px 0 0;
  button {
    padding: 8px 34px;
  }
}

.add-dependent-footer {
  text-align: right;
}

.settings-input-wrapper {
  label {
    display: block;
    font-size: 12px;
    color: rgba(0,0,0,0.54);
  }
  input {
    border-bottom: 1px solid rgba(0,0,0,0.12);
  }
}

/* Gp cap per visit */
.gp-cap-per-wrapper {
  .gp-cap-header-title {
    text-align: center;

    h3 {
      font-size: 18px;
      margin: 15px 0;
    }
  }
  .gp-header-btn {
    align-items: center;

    img {
      cursor: pointer;
      height: 17px;
      width: 16px;
      margin: 0 10px 0 0;
    }
    .save-continue-btn {
      border: solid 2px #0392cf;
      background-color: #0392cf;
      color: #fff;
      padding: 7px 0px;
      border-radius: 2px;
      font-size: 14px;
      font-weight: 700;
      width: 140px;
    }
  }
  .gp-cap-body {
    overflow: auto;
    margin: 20px 0 0;
    .gp-cap-body-container {
      height: 500px;
      width: 700px;
    }
  }
  table {
    border: 1px solid #d0d0d0;
    font-size: 14px;
    
    thead {
      th {
        background-color: #eff2f4;
        font-family: 'Helvetica Light';
        padding: 15px;
        text-align: center;
      }
      th:first-child {
        width: 20%;
        padding: 10px;
      }
      th:last-child {
        padding: 10px;
      }
      th:nth-child(2) {
        width: 60%;
      }
    }
    tbody {
      tr:first-child td,
      tr td:first-child {
        padding: 10px;
      }
      tr td {
        padding: 10px;
      }
    }

    th,td {
      border: 1px solid #d0d0d0;
    }
  }
  .gp-cap-pagination {
    font-size: 12px;
    color: #777;
    margin: 40px 0 0;
  }
  .page-scroll-container {
    margin: 0 20px 0 0;
    >span {
      cursor: pointer;
    }
    i {
      font-size: 14px;
    }
    .fa-angle-left {
      margin: 0 5px 0 0;
    } 
    .fa-angle-right {
      margin: 0 0 0 5px;
    } 
    >div {
      margin: 0 10px;
    }
    .gp-page-num {
      margin: 0 10px 0 0;
      cursor: pointer;
      padding: 3px 7px;
    }
    .gp-page-num.active {
      background-color: #e8e8e8;
    }
  }
  .rows-page-wrapper {
    cursor: pointer;
    position: relative;

    .page-dp-container {
      position: absolute;
      right: 0;
      background-color: #e8e6e6;
      color: rgba(33,33,33,0.87);
      font-size: 12px;
      overflow-y: scroll;
      max-height: 227px;
      width: 137px;
    }
    .page-dp-container >div {
      padding: 0 16px;
      height: 48px;
      cursor: pointer;
      line-height: 4;
    }
  }
}
.file-upload-modal {
  .modal-container {
    width: 580px;
  }
  .modal-header,
  .modal-body,
  .modal-footer {
    padding: 15px 20px;
  }

  .modal-header h4 {
    flex: 1;
  }
  .modal-header img {
    width: 14px;
    cursor: pointer;
  }

  .drop-box {
    border: 2px dashed #408FCA;
    width: initial;
    height: 152px;
    justify-content: center;
    background-color: #fff;
    position: relative;

    >div {
      width: 100%;
      padding: 30px 20px;
    }
  }
  .drop-file-upload {
    justify-content: center;
    img {
      width: 23px;
      height: 23px;
    }
    >span {
      margin: 0 10px;
    }
  }
  .progress-wrapper {
    position: relative;
    width: 100%;
    height: 25px;
    background-color: rgba(205, 205, 205, 0.3);
    overflow: hidden;
    margin: 15px 0 0;

    .fa-file-o {
      margin: 0 10px 0 0;
    }
    >span {
      position: absolute;
      left: 10px;
      top: 3px;
    }
  }
  .progress-bar {
    background-color: #78E997;
    height: 25px;
    color: #2E4057;
    width: 10%;
    // width: 0%;
    transition: all 1s ease-in-out;

    &.error {
      background-color: #d46448;
    }
  }
  .cap-file-err {
    font-size: 11px;
    text-align: center;
  }
}

// Add head count and plan
.add-head-count-wrapper {

  .checkbox-child {
    padding: 0 0 0 35px;
  }
  .num-employees-wrapper {
    label {
      display: block;
    }

    input {
      background-color: transparent;
      border-bottom: 1px solid rgba(0,0,0,0.12);
      padding: 2px;
      width: 50%;
    }
  }
  .emp-plan-start-container {
    margin: 20px 0;
    .fa-calendar-o {
      font-size: 18px;
      align-self: flex-end;
      margin: 0 20px 0 0;
    }
  }
  .add-head-count-box {
    background-color: #eee;
    padding: 15px 30px;
  }
  
  .num-employees-wrapper {
    margin: 20px 0 0;
  }

  h3 {
    padding: 20px 30px;
  }

  .spending-account,
  .emp-plan-start-container,
  .input-individual-price-container {
    h4 {
      margin: 0 0 20px;
    }
    label {
      display: block;
      color: rgba(0,0,0,0.54);
      font-size: 12px;
    }
    input {
      background-color: transparent;
      border-bottom: 1px solid rgba(0,0,0,0.12);
      padding: 2px;
      width: 100%;
    }

    .date-container {
      position: relative;
    }
    .fa-caret-down {
      position: absolute;
      top: 10px;
      right: 0;
    }
  }

  .spending-account {
    margin: 0 0 40px;
    >div >div {
      width: 50%;

      &:nth-child(1) {
        margin: 0 20px 0 0;
      }
    }
    .deposit-slider label {
      margin: 0 0 15px;
    }
  }

  .input-individual-price-container input {
    width: 30%;
  }
}

//custom checkbox 
.custom-checkbox-selector .selector-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  input:checked ~ .custom-checkbox-checkmark:after {
    display: block;
  }

  .custom-checkbox-checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.54);
    border-radius: 50%;
  }

  .custom-checkbox-checkmark:after {
    display: none;
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(63, 81, 181, 0.87);
  }
}    
// Claim type services
.claim-type-services-wrapper {

  .claim-type-header {
    margin: 20px 0 0;
    h1 {
      font-weight: 500;
    }
    img {
      height: 18px;
      width: 18px;
      cursor: pointer;
    }
  }
  .claim-type-tbl-wrapper {
    margin: 20px 0 0;
  }
  table {
    thead tr th {
      color: rgba(0,0,0,.54);
      font-family: 'Helvetica Light';
      border: 0;
    }
    button {
      width: 88px;
    }
    button:first-child {
      margin: 0 10px 0 0;
    }
    thead tr th:first-child,
    thead tr th:last-child,
    tbody tr td:first-child,
    tbody tr td:last-child {
      padding: 10px 0px;
    }
    thead tr th,
    tbody tr td {
      padding: 10px 20px;
    }
    tbody tr {
      border-top: 1px rgba(0,0,0,.12) solid;
    }
  }
  
  .claim-type-modal {
    .modal-body >div >div {
      >div:nth-child(1) {
        margin: 0 30px 0 0;
      }
    }
    .settings-input-wrapper {
      margin: 0 0 20px;
    }
    .modal-footer {
      padding: 10px;
    }
    .btn-close {
      margin: 0 10px 0 0;
    }
    .btn-primary {
      width: 83px;
    }
  }
  .custom-checkbox-selector {
    margin: 20px 0 0;
  }
}

@media (min-width: 1024px) and (max-width: 1120px) {
  table.review-excel-tbl,
  table.add-dependent-tbl {
    tbody tr td {
      padding: 20px 10px;
    }
    thead tr th {
      padding: 20px 10px;
    }

    thead tr th:first-child, 
    thead tr th:last-child, 
    tbody tr td:first-child,
    tbody tr td:last-child {
      padding: 20px 10px;
    }
  }
} 

/* Extra Large (xl) */
@media (min-width: 1450px) { 
  .settings-wrapper{
    .settings-menu-box{
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
@media (min-width: 1710px) { 
  .settings-wrapper{
    .settings-menu-box{
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
}
@media (max-width: 1280px) { 
  .settings-wrapper{
    .settings-menu-box{
      .menu-item{
        padding: 20px;
      }
    }
  }
}
@media (max-width: 1080px) {
  .gp-cap-per-wrapper .gp-cap-body {
    .gp-cap-body-container {
      width: 100%;
    }
  }
}

/* Large (lg) */
@media (max-width: 1024px) { 
  

}

@media (max-width: 1023px) {
  .reset-company-credits-wrapper,
  .add-dependent-wrapper,
  .add-head-count-wrapper {
    margin: 40px 0 0
  }
  .review-excel-tbl-wrapper,
  .add-dependent-tbl-wrapper {
    overflow: auto;
    .review-excel-tbl-container,
    .add-dependent-tbl-container {
      width: 936px;
    }

    &::-webkit-scrollbar {
      height: 3px;
    }
  }

  .claim-type-services-wrapper .claim-type-header {
    margin: 40px 0 0;
  }

  .claim-type-tbl-wrapper {
    overflow: auto;

    .claim-type-tbl-container {
      width: 936px
    }
    &::-webkit-scrollbar {
      height: 3px;
    }
  }
}

/* Medium (md) */
@media (max-width: 768px) { 
  .settings-wrapper{
    .settings-menu-box{
      grid-template-columns: 1fr 1fr;
    }
  }
}

/* Small (sm) */
@media (max-width: 640px) { 
  .reset-company-credits-wrapper,
  .add-dependent-wrapper { 
    .dp-flex-ai {
      display: block;
    }
    .dp-flex-ai h2 {
      margin: 0 0 20px;
    }
  }
  
  .add-dependent-wrapper .download-emp-list-btn {
    margin: 0;
  }

  .gp-cap-per-wrapper {
    margin: 50px 0 0;
  }
  .add-head-count-wrapper {
    .add-head-count-box {
      padding: 15px 10px;
    }
    .emp-plan-start-container .fa-calendar-o {
      margin: 0 10px 0 0;
    }
    .emp-plan-start-container label {
      font-size: 10.5px;
    }
    .spending-account >div {
      display: block;
    }
    .spending-account > div > div:nth-child(1) {
      margin: 0;
    }
    .num-employees-wrapper input,
    .input-individual-price-container input,
    .spending-account > div > div {
      width: 100%;
    }
    .deposit-slider {
      margin: 20px 0 0;
    }
  }
}
@media (max-width: 520px) { 
  .settings-wrapper{
    .settings-menu-box{
      grid-template-columns: 1fr;

      .menu-item{
        margin: 0 20px;
      }
    }
  }
  .file-upload-modal .modal-container {
    width: 100%;
    margin: 0 15px;
  }
  .gp-cap-per-wrapper .gp-cap-body {
    .gp-cap-body-container {
      width: 479px;
    }

    &::-webkit-scrollbar {
      height: 3px;
    }
  }
  .file-upload-modal {
    .modal-header,
    .modal-body,
    .modal-footer {
      padding: 15px 10px;
    }
  }
  .file-upload-modal .drop-box {
    height: auto;
    >div {
      padding: 30px 10px;
    }
    .drop-file-upload > span {
      margin: 0 5px;
    }
  }
  .drop-box-wrapper .drop-box img {
    width: 70px;
  }
}

@media (max-width: 400px) {
  .reset-company-credits-wrapper .reset-third-step {
    margin: 20px 0 0;
    h4 {
      font-size: 13px;
    }
  }
  .claim-type-services-wrapper .claim-type-header h1 {
    font-size: 16px;
  }
}