$bg-blue: #3a85b7;

$font-gray: #888;

.corporates-container{
  // margin: 10px;
  padding: 30px 40px;
  min-height: 100vh;
  background: #FFF;
  box-shadow: 0px 1px 5px #ddd;
  position: relative;
  overflow-y: auto;
}

.close-btn{
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 10px;
  /*color: #eee;*/
}
/* CORPORATE DETAILS */


/* ADD CORPORATE */
.add-corporate-container{
  margin: 50px auto 20px auto;
  width: 50%;
  min-width: 720px;
  min-height: 50vh;
  position: relative;


  input, select{
    height: 34px;
    background: #fff;
    padding-left: 10px;
    border-color: #dedede;
    -webkit-appearance: none;
  }
  .close-btn{
    position: absolute;
    top: 6px;
    right: 8px;
    color: #666;
    font-size: 12px;
  }
  .on{
    border-radius: 3px 0 0 3px;
  }
  .off{
    border-radius: 0 3px 3px 0;
  }
  .mr-20{
    margin-right: 20px;
  }
  .form-row{
    display: flex;
  }
  .form-col{
    flex: 1;
  }
  .flex-2{
    flex: 2;
  }
  .flex-3{
    flex: 3;
  }
  .flex-4{
    flex: 4;
  }
  .flex-5{
    flex: 5;
  }
  .form-div label{
    font-size: 11px;
    color: #949494;
  }
  .margin-030{
    margin: 0 -30px;
  }
  .box-title-blue{
    margin: 15px 0;
    color: #6DA9D4;
    font-family: 'Myriad';
    font-size: 15px;
    font-weight: 700;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
  }
  .box-title-black{
    margin: 15px 0;
    color: #333;
    font-family: 'Myriad';
    font-size: 14px;
    font-weight: 700;
  }
  .form-toggle{
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    label{
      /*flex: 2;*/
      margin-right: 20px;
      font-size: 11px;
      color: #949494;
      font-weight: 700;
    }
    .toggle-wrapper{
      flex: 1;
    }
    .toggle-btns{
      display: flex;
      width: 120px;
      border: 1px solid #dedede;
      border-radius: 3px;
    }
    .toggle{
      flex: 1;
      padding: 8px;
      font-size: 12px;
      color: #969696;
      text-align: center;
      cursor: pointer;
    }
    .toggle.active{
      background: #0392CF;
      color: #fff;
    }
  }
  .form-col-toggle{
    margin: 5px 0 0 0;
  }
  .header-wrapper{
    position: relative;
    font-family: 'Myriad';
    font-weight: 700;
    color: #666;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .white-box{
    box-shadow: 0px 1px 5px #ddd;
    background: #fff;
    margin: 0 -30px;
    padding: 5px 30px 30px 30px;
    margin-bottom: 50px;
  }
  .btn-option-row{
    display: flex;
    align-items: center;
    margin-top: 20px;

    .btn-container{
      flex: 1;
    }
    .rm-container{
      flex: 1;
      text-align: right;

      span{
        display: inline-block;
        height: 25px;
        width: 25px;
        line-height: 28px;
        text-align: center;
        border-radius: 50%;
        background: #FF5959;
        color: #FFF;
      }
    }
  }
  .btn-add-contact{
    background: #0392CF;
    color: #FFF;
    border: none;
    padding: 12px 30px;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Helvetica Light';
    border-radius: 2px;

    &[disabled] {
      opacity: .5;
      cursor: not-allowed;
    }
  }

  .add-more-contact-container {
    margin: 15px 0 0;
  }

  .duration-input-wrapper {
    display: flex;

    >div:nth-child(1) {
      width: 40%;
    }

    >div:nth-child(2) {
      width: 60%;
    }
  }

  .date-container {
    position: relative;

    img {
      height: 14px;
      width: 14px;
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }

  .invoice-date-container .date-container {
    width: 226px;
  }

  .change-plan-toggle {
    margin: 20px 0 0;
  }

  .med-date-container,
  .well-date-container {
    margin: 34px 0 0;
    width: 150px;

    .date-container img {
      left: 10px;
    }

    .date-container input {
      padding: 5px 5px 5px 28px;
      background-color: transparent;

      &::placeholder {
        color: transparent;
      }
    }
  }

  .noSpending {
    background-color: #b4b4b4;
    pointer-events: none;
  }


  .send-welcome-email-toggle {
    display: flex;

    .form-toggle {
      margin: 0;
    }
  }

  .welcome-email-account-selector {
    display: flex;

    >label {
      width: 100px;
      margin: 0 10px;
    }
  }

  .add-bcc-input-wrapper {
    display: flex;

    input {
      margin: 0 10px 0 0;
    }

    .btn-primary {
      height: 35px;
    }
  }

  .bcc-emails-container {
    display: inline-block;

    .bcc-email {
      font-size: 12px;
      margin: 10px 10px 10px 0;
      padding: 10px;
      background: #eee;
      border-radius: 4px;
      float: left;
    }

    span {
      margin: 0 10px 0 0;
    }

    img {
      cursor: pointer;
      height: 12px;
      width: 12px;
    }
  }

  .selector-container {
    position: relative;

    img {
      height: 12px;
      width: 12px;
      position: absolute;
      top: 12px;
      right: 10px;
    }
  }

  .account-plan-input-wrapper {
    width: 100%;
    border: 1px solid #dedede;
    border-radius: 2px;
    height: 34px;
    min-height: unset;
    padding: 5px 10px 5px;
    color: #222;
    font-size: 14px;
    display: flex;

    >div{
      line-height: 1.7;
    }

    span {
      margin: 0 5px 0 0;      
    }

    input {
      border: 0;
      padding: 0;
      height: auto;
    }
  }
}

.health-partner-access-wrapper {
  background-color: #fff;
  height: auto;
  padding: 20px;

  .health-partner-access-container {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    min-height: 540px;
  }

  .corporate-text {
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
  }

  .sort-container {
    text-align: center;

    img {
      transform: translate(0, 22rem) rotate(90deg);
      height: 50px;
    }
  }

  .health-partner-access-blocked,
  .health-partner-access-opened {
    background-color: #fff;
    padding: 20px 0 40px;
    box-shadow: 0 0px 3px 0 rgba(0,0,0,.2), 0 4px 6px 0 rgba(0,0,0,.14), 0 0px 4px 2px rgba(0,0,0,0.12);
  }

  .blocked-opened-header {
    padding: 0 20px;
    position: relative;

    h3 {
      font-size: 16px;
      color: #333;
    }

    i {
      font-size: 18px;
      color: #777;
      position: absolute;
      top: 0;
      right: 20px;
    }
  }

  .clinic-name-header {
    align-items: center;
    display: flex;
    border-bottom: 1px solid #cbcbcb;
    padding: 20px;
   

    span {
      display: block;
      color: #777;
    }

    .btn-primary {
      height: 32px;
    }
  }

  .health-checkmark {
    background-color: #fff;
    border: 1px solid #cbcbcb;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border: 1px solid #cbcbcb;
    border-radius: 2px;

    &:after {
      display: none;
      position: absolute;
      top: 3px;
      left: 3px;
      width: 8px;
      height: 8px;
      background-color: #4154AF;
      border-radius: 2px;
      content: "";
    }
  }

  .health-checkbox-container {
    position: relative;
    padding: 0 0 0 35px;
    flex: 1;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .input:checked ~ .health-checkmark {
      background-color: #fff;
      border: 1px solid #cbcbcb;
      border-radius: 2px;
    }

    input:checked ~ .health-checkmark:after {
      display: block;
    }
  }

  .select-filter-div select {
    background: #fafafa;
    border-radius: 0;
    border: 1px solid #eee;
    border-width: 0 0 1px 0;
    color: #888;
    flex: 1;
    height: 32px;
    width: 112px;
    margin: 0 10px;
    padding: 5px 8px;

  }
     
  .clinic-name-wrapper {
    overflow-y: auto;
    height: 500px;

    .clinic-name-container {
      border-bottom: 1px solid #cbcbcb;
      color: #333;
      padding: 20px 20px;
    }
  }
}

// Corporate Plan 

.corporate-plan-wrapper {
  background-color: #fff;
  height: 100%;
  padding: 20px;

  .plan-header ul {
    display: flex;
    border-bottom: 1px solid #eee;
    margin: 0 0 20px;

    a {
      color: #222;
      padding: 10px;
      display: block;
    }

    a.active {
      border-bottom: 2px solid #6b8be4;
    }
  }

  .plan-body {
    h3 {
      font-size: 18px;
      margin: 0 0 30px;
    }

    input {
      background-color: transparent;
      padding: 0;
    }
  }

  .employee-details-input-wrapper label:after {
    content: " *";
    font-size: 13px;
    vertical-align: top;
  }

  .business-row-1,
  .business-row-2 {
    display: flex;
    margin: 0 0 30px;

    >div {
      padding: 0 40px 0 0;
      width: 30%;
    }
  }

  .switch-container {
    display: flex;
    align-items: center;
  }

  .switch {
    position: relative;
    display: inline-block;
    height: 14px;
    width: 34px;
    margin: 0 10px 0 0;

    input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(158,158,158);
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      top: -3px;
      left: 0;
      right: 0;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
  }

  input:checked + .slider {
    background-color: #1667AC;

    &:before {
      transform: translateX(18px);
      background-color: #1667AC;
    }
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    
    &:before {
      border-radius: 50%;
      box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
      width: 20px;
      height: 20px;
    }
  }

  .clinic-peak-status-container {
    margin: 0 0 50px;
  }

  .hr-status-container {
    margin: 0 0 50px;
  }

  .btn-deactive {
    width: 150px;
  }

  .btn-remove-contacts {
    width: 100px;
    height: 36px;
    background: #d63129a6;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    border-radius: 2px;
    border: 0;
    color: #FFF;
  }

  .input-checkbox span.input-text {
    font-size: 12px;
  }

  .company-contacts-card-wrapper {
    border: 1px solid #e5e5e5;
    background: #fafafa;
    padding: 20px;
    display: flex;
    margin: 0 0 30px;

    >div {
      width: 30%;
      padding: 0 40px 0 0;
    }

    >div:nth-child(3) {
      text-align: center;
    }
  }

  .plan-btn-footer {
    text-align: right;

    button {
      width: 150px;
    }

    button:nth-child(1) {
      margin: 0 40px 0 0;
    }
  }
}

.current-plan-text {
  margin: 0 0 10px;
}

.active-cards-wrapper {
  margin: 20px 0 0 0;
  display: inline-block;
  width: 100%;

  .plan-header-container {
    position: relative;
    margin: 0 0 20px;

    .cog-container {
      position: absolute;
      right: 0;
      top: 0;
    }

    .cog-container i {
      font-size: 24px;
      color: rgba(0,0,0,0.54);
      cursor: pointer;
    }
  }

  .account-container {
    margin: 0 0 20px;
  }

  .active-plans-info {
    padding: 10px;
    margin: 0 10px 0 0;
    box-shadow: 1px 1px 10px #8c8989;
    display: inline-block;
  }

  .account-title {
    font-family: 'Helvetica Medium';
    margin: 0 0 10px;
  }

  button {
    display: block;
    font-size: 12px;
    width: 200px;
    margin: 0 0 10px;
  }
}

.select-account-plan-type {

  .modal-container {
    width: 300px;
  }

  .modal-header {
    position: relative;

    .fa-times {
      position: absolute;
      right: 20px;
      top: 22px;
    }
  }

  .modal-body {
    padding: 20px 32px;
  }

  .modal-footer {
    text-align: center;
    padding: 0 0 20px;
  }
}















@media (max-width: 1400px) {
  .member-list-table-wrapper {
    overflow-x: auto; 

    &::-webkit-scrollbar {
      height: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #aaa;
    }
    
    .member-list-table {
      width: 1010px;
    }

  }
}





















