.corporate-details-wrapper{
  .tab-container{
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #eee;
    .tab{
      float: left;
      border-bottom: 2px solid transparent;
      padding: 10px;
      cursor: pointer;
      &.active,
      &.router-active{
        border-bottom: 2px solid #6b8be4;
      }
    }
  }
  .xs-tab-container{
    display: none;
  }
}

@media (max-width: 1253px) {
  .corporate-details-wrapper{
    .tab-container{
      padding-left: 20px;
    }
  }
}
@media (max-width: 670px) {
  .corporate-details-wrapper{
    .tab-container{
      display: none;
    }
    .xs-tab-container{
      display: flex;
      padding: 0px 0 0 60px;
      position: relative;
        
      .select-tab-box{
        position: relative;
        z-index: 1;
      }
      .tab-select {
        background: transparent;
        margin: 0 0 10px 0;
        font-weight: 700;
        border-bottom: 2px solid #555;
        padding: 0 20px 5px 0;
        border-radius: 0;
      }
      i {
        position: absolute;
        right: 10px;
        top: 5px;
        z-index: -1;
      }
    }
  }
}

.credentials-wrapper {
  h3 {
    font-size: 18px;
    margin: 0 0 20px;
  }
  margin: 20px 0 0;
  >div{
    width: 50%;
  }
  .custom-checkbox-container {
    margin: 0 0 20px;
  }
  .custom-checkbox-selector .selector-container {
    font-size: 14px;
  }
  .custom-checkbox-container label >span:first-child {
    padding: 0 0 0 30px;
    display: inline-block;
  }
  .custom-checkbox-container label input {
    display: contents;
  }
  .toggle-form {
    display: flex;
    align-items: center;
  }
  .custom-toggle-container {
    margin: 0 10px 0 0;
    .toggle {
      flex: inherit;
      padding: 5px 15px;
      // width: 46px;
    }
    .toggle.active {
      background: #4154AF;
      border: 1px solid #4154AF;
    }
  }
  .credentials-input-wrapper {
    margin: 0 0 20px;
    label{
      display: block;
      font-size: 12px;
      color: #888;
    }
    input {
      border-bottom: 1px solid rgba(0,0,0,0.12);
    }
    i {
      font-size: 18px;
      cursor: pointer;
    }
  }
  .btn-gray {
    padding: 0 15px;
    background-color: rgb(250,250,250);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    border-radius: 2px;
    height: 36px;
    font-weight: 700;
  }
  .generate-password-container button {
    margin: 0 0 20px;
  }
  .bcc-email-container {
    >div {
      margin: 0 0 20px;
    }
    >div >div:first-child {
      margin: 0 10px 0 0;
    }
  }
  .cc-emails {
    background: #d4d4d4;
    box-shadow: 1px 1px 1px #999;
    padding: 8px 8px;
    border-radius: 4px;
    margin: 0 0 10px;
    width: max-content;
    color: #555;

    i {
      margin: 0 0 0 10px;
      cursor: pointer;
    }
  }
  .update-account-btn-container {
    margin: 20px 0 0;
  }
  .create-benefits-credentials,
  .update-account-wrapper {
    margin: 40px 0 0;
  }
}

@media (max-width: 650px) {
  .credentials-wrapper {
    display: block;

    >div {
      width: 100%;
    }
    .credentials-input-wrapper input {
      width: 100%;
    }
    .update-account-wrapper,
    .create-benefits-credentials {
      margin: 40px 0;
    }
    .custom-checkbox-selector .selector-container {
      padding-left: 22px;
    }
  }
  .bcc-email-container .credentials-input-wrapper {
    width: 100%;
  }
}