.entitlement-option-wrapper{
  padding-top: 100px;
  margin: 0 auto;
  width: 375px;
  text-align: center;
  
  .header-title{
    font-family: 'Helvetica Medium';
    font-size: 20px;
    margin-bottom: 60px;
  }
  .item-select{
    text-align: left;

    label{
      color: #2c3e50;
      font-size: 16px;
      margin-bottom: 15px;
      position: relative;
      // display: block;

      img{
        width: 15px;
        cursor: pointer;
        display: inline-block;
        margin-top: -5px;
        margin-left: 5px;
      }
      .medical-info-box,
      .wellness-info-box{
        position: absolute;
        right: 0;
        top: 35px;
        // display: none;

        .custom-box{
          position: absolute;
          right: -3px;
          top: -10px;
          background: #424242;
          border: 1px solid #000000;
          border-radius: 2px;
          transform: rotate(-45deg);
          width: 20px;
          height: 20px;
        }
        .main-info-box{
          background: #424242;
          border-radius: 2px;
          color: #fff;
          z-index: 5;
          position: absolute;
          right: -165px;
          top: -1px;
          width: 350px;
          padding: 10px 15px;
          font-size: 13px;

          .header-p{
            font-family: 'Helvetica Medium';
          }
          .example-p{
            margin: 15px 0;
            text-decoration: underline;
          }
          .custom-line{
            border: 0.5px solid #ffffff;
            margin: 10px 0;
          }
          .btn-container{
            text-align: center;
            margin: 10px 0;

            .btn-got-it{
              background: #0392cf;
              border-radius: 3px;
              color: #fff;
              width: 86px;
              height: 31px;
              font-weight: 700;
              font-family: "Helvetica Light";
              border: none;
              line-height: 31px;
              display: inline-block;
              cursor: pointer;
            }
          }
        }
      }
    }
    .select-div{
      position: relative;
      width: 95px;
      height: 35px;
      margin: 15px 0 25px 0;

      .select-value{
        display: inline-block;
        border: 1px solid #979797;
        width: 100%;
        height: 35px;
        line-height: 33px;
        border-radius: 2px;
        font-size: 16px;
        padding: 0 10px;
        color: #333;
        cursor: pointer;
      }
      .select-drop-box{
        position: absolute;
        top: 36px;
        left: 0;
        border: 1px solid #979797;
        border-radius: 2px;
        font-size: 14px;
        color: #333;
        background: #fff;
        width: 100%;
        z-index: 9;
        // display: none;

        .select-option{
          padding: 8px 10px;
          font-size: 14px;
        }
      }
      i{
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
  }
}
.enrollment-btn-container{
  text-align: right;
  padding: 20px 60px;
  
  .enrollment-next-btn{
    background-color: #0291CE;
    color: #fff;
    border-radius: 3px;
    border: 0;
    padding: 10px 25px;
    margin-top: 20px;

    &:disabled{
      opacity: .5;
      cursor: not-allowed;
    }
  }
}
.enrollment-method-container{
  h1{
    font-size: 24px;
    color: #2c3e50;
    font-weight: 700;
    text-align: center;
    margin: 40px 0 35px 0;
  }
  .enrollment-method-box{
    width: 450px;
    margin: 0 auto;

    .enrollment-method-btn{
      width: 200px;
      padding: 45px 20px 10px 20px;
      border: solid 2px #ccc;
      border-radius: 8px;
      text-align: center;
      img{
        height: 80px;
        margin: 0 auto;
      }
      p{
        margin: 35px 0 0 0;
        font-weight: 700;
        color: #727272;
        font-size: 16px;
      }
    }
    .enrollment-method-btn-text{
      padding: 30px 0 20px 15px;
      width: 200px;
      p{
        text-align: left;
        line-height: 1.3;
      }
    }
  }
}
.enrollment-excel-import-container{
  .excel-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    label{
      font-size: 20px;
      width: 180px;
    }
    .download-btn-container{
      flex: 1;

      .btn{
        margin-right: 10px;

        background-color: #FAFAFA;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        border-radius: 2px;
        font-weight: 700;
        padding: 8px 20px;
        text-transform: uppercase;

        img{
          display: inline-block;
          margin-right: 5px;
          width: 15px;
        }
      }
    }
  }
  .drop-upload-container{
    background: #F8F8F8;
    border: 3px dashed #DDD;
    width: 100%;
    min-height: 230px;
    text-align: center;
    padding-top: 30px;
    margin: 30px 0;
    position: relative;
    padding-bottom: 30px;

    input{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
    }
    img{
      width: 100px;
      margin-bottom: 5px;
      margin: 0 auto;
    }
    p{
      margin: 16px 0 0 0;
      &.filename{
        color: green;
      }
    }
  }
  .btn-gray-with-shadow {
    background-color: rgb(250,250,250);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    border-radius: 2px;
    font-weight: 700;
    padding: 8px 34px;
    margin-top: 20px;
    &:disabled{
      opacity: .5;
      cursor: not-allowed;
    }
  }
}
.enrollment-summary-container{
  >h1{
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 50px;
  }
  .tbl-scroll-wrapper{
    max-width: calc(100vw - 380px);
    overflow-x: auto;

    &::-webkit-scrollbar {
      height: 10px;
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 6px;
      background-color: #aaa;
      border: 2px solid #ddd;
    }
  
    &::-webkit-scrollbar-track {
      /*background-color: transparent;*/
      background-color: #ddd;
    }

    table{
      border: 1px solid #ccc;
      font-family: 'Helvetica Light';

      thead{
        tr{
          div.dependents{
            display: contents;
          }
          th{
            padding: 5px 10px;
            font-size: 14px;
            color: #444;
            min-width: 130px;
            text-align: left;
            white-space: nowrap;
            border-bottom: 1px solid #d9d9d9;
            background: #F5F8FA;
            font-family: 'Helvetica Light';

            input{
              width: 16px;
              height: 16px;
              position: relative;
              top: 2px;
            }
            &:first-child{
              min-width: unset;
            }
          }
        }
      }
      tbody{
        tr{
          &.has-error{
            background-color: #FBE1E2;
          }
          div.dependents{
            display: contents;
          }
          td{
            padding: 12px 10px;
            min-width: 130px;
            text-align: left;
            font-size: 12px;
            white-space: nowrap;
            vertical-align: middle;
            color: #777;
            .fullname-box{
              display: flex;
              .fullname-text{
                flex: 1;
                margin-right: 15px;
              }
              .edit-icon{
                cursor: pointer;
                width: 20px;
                i{
                  font-size: 18px;
                }
              }
            }
            input{
              width: 16px;
              height: 16px;
              position: relative;
              top: 0px;
            }
            &:first-child{
              min-width: unset;
            }
          }
        }
      }
    }
  }
  .footer-options{
    margin-top: 60px;

    .checkbox-container{
      flex-wrap: wrap;
    }
    .label-checkbox{
      display: flex;
      width: 250px;

      input{
        width: 16px;
        height: 16px;
        position: relative;
        top: 2px;
      }
    }
    .password-check-input{
      width: 350px;
      flex-wrap: wrap;

      label{
        width: 180px;
        margin-right: 20px;
      }
      .password-input{
        width: 140px;
  
        label{
          display: block;
          font-size: 10px;
          
        }
        input{
          border-bottom: 2px solid #eee;
          padding: 2px;
          font-weight: 700;
          font-size: 12px;
          width: 100%;
        }
      }
    }
    
  }
  .xs-footer-btns{
    margin-top: 50px;
    display: none;
  }
  .btn-gray-with-shadow {
    background-color: rgb(250,250,250);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    border-radius: 2px;
    font-weight: 700;
    padding: 8px 34px;

    &[disabled] {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
.enrollment-web-input-container{
  padding-bottom: 50px;
  .top-h1{
    font-size: 22px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  p.label-title{
    font-size: 18px;
    font-weight: 700;
    min-height: 18px;
    margin-bottom: 20px;
  }
  .form-box{
    margin-bottom: 25px;
    position: relative;
    min-height: 47px;

    &.z-index-0{
      z-index: 0;
    }
    >label{
      display: block;
      font-size: 12px;
      color: #888;
    }
    input[type='text'],
    input[type='number'],
    input[type='email'],
    input[type='password'],
    select{
      display: block;
      margin-top: 0;
      background: none;
      padding: 2px 2px 1px;
      border-width: 0 0 1px;
      line-height: 26px;
      height: 30px;
      border-radius: 0;
      border-style: solid;
      width: 100%;
      font-weight: 700;
      z-index: 5;
    }
    select{
      -webkit-appearance: none;
    }
    .fa-caret-down {
      position: absolute;
      top: 25px;
      right: 0;
      z-index: -1;
    }
    &.plan-end-date{
      label{
        margin-bottom: 10px;
      }
    }
    &.plan-term{
      label{
        font-size: 14px;
        font-weight: 700;
        color: #444340;
        margin: 3px 0;
        input{
          margin-right: 5px;
        }
      }
    }
    &.package-form-box{
      >label{
        margin-bottom: 20px;
      }
      .package-box{
        max-width: 400px;
        .package-name{
          background: #3F51B5;
          color: #FFF;
          box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
          padding: 8px 5px;
          text-transform: uppercase;
          text-align: center;
          border-radius: 2px;
          margin-bottom: 15px;
        }
        .service-list{
          margin-bottom: 10px;
          p{
            font-size: 10px;
          }
        }
      }
    }
  }
  .date-container {
    position: relative;

    input.vDatepicker {
      width: 100%;
      position: relative;
      z-index: 1;
      cursor: pointer;
    }

    .fa-caret-down {
      position: absolute;
      top: 7px;
      right: 0;
      z-index: 0;
    }
  }
  .web-input-footer{
    margin-top: 30px;
    label{
      font-size: 18px;
    }
    .btn-add-dependent{
      display: inline-block;
      border: 2px solid #cbcbcb;
      border-radius: 4px;
      font-weight: 700;
      width: 80px;
      height: 38px;
      margin-left: 10px;
      font-size: 14px;
  
      img{
        display: inline-block;
        height: 18px;
        vertical-align: middle;
        margin-right: 5px;
      }
    }
    .btn-container{
      text-align: right;
      button{
        text-transform: uppercase;
        margin-right: 10px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
        line-height: 1;
        padding: 10px 15px;
        font-size: 14px;
        border-radius: 2px;
        height: 36px;
        font-weight: 700;
        &.btn-cancel{
          background-color: rgb(250,250,250);
        }
      }
    }
  }
  .add-dependent-form{
    width: 100%;
    max-width: 730px;
    padding: 0 70px;
    margin: 0 auto;
    position: relative;
    .side-arrows{
      position: absolute;
      i{
        color: #eaeaea;
        font-size: 60px;
        cursor: pointer;
      }
      &.left{
        top: 11rem;
        left: 0;
      }
      &.right{
        top: 11rem;
        right: 0;
      }
    }
    .p-count{
      text-align: center;
      font-size: 16px;
      text-transform: uppercase;
      margin: 15px 0;
    }
    .title{
      text-align: center;
      font-size: 24px;
      margin-bottom: 35px;
    }
    .footer-buttons{
      display: flex;
      margin-top: 20px;
      button{
        background-color: transparent;
        border-radius: 4px;
        border: 2px solid #d6d6d6;
        color: #2c3e50;
        font-weight: 700;
        padding: 8px 12px;
        text-transform: uppercase;
      }
      .left{
        width: 100px;
      }
      .right{
        flex: 1;
        text-align: right;
        .btn-save{
          border: 2px solid #0291CE;
          color: #fff;
          background-color: #0291CE;
          &:disabled{
            opacity: .5;
            cursor: not-allowed;
          }
        }
        button{
          margin-left: 10px;
        }
      }
    }
  }
}





@media (max-width: 1365px) {
  .footer-options{
    .label-checkbox:first-child{
      width: 100%;
      flex: none !important;
    }
    .password-input{
      label{
        display: block;
        font-size: 10px;
      }
      input{
        border-bottom: 2px solid #eee;
        padding: 2px;
        font-weight: 700;
        font-size: 12px;
      }
    }
  }
}
@media (max-width: 1190px) {
  .enrollment-summary-container{
    .-btn{
      display: none;
    }
    .xs-footer-btns{
      display: flex;
    }
  }
  
}
@media (max-width: 1025px) {
  .excel-header{
    margin-top: 35px;
  }
  .enrollment-web-input-container{
    .top-h1{
      margin-top: 40px;
    }
  }
  .enrollment-summary-container{
    >h1{
      margin-top: 40px;
    }
    .tbl-scroll-wrapper{
      max-width: unset;
      overflow-x: auto;
  
      table{
        border: 1px solid #ccc;
        font-family: 'Helvetica Light';
  
        thead{
          tr{
            div.dependents{
              display: contents;
            }
            th{
              padding: 5px 10px;
              font-size: 14px;
              color: #444;
              min-width: 130px;
              text-align: left;
              white-space: nowrap;
              border-bottom: 1px solid #d9d9d9;
              background: #F5F8FA;
              font-family: 'Helvetica Light';
  
              input{
                width: 16px;
                height: 16px;
                position: relative;
                top: 3px;
              }
              &:first-child{
                min-width: unset;
              }
            }
          }
        }
        tbody{
          tr{
            &.has-error{
              background-color: #FBE1E2;
            }
            div.dependents{
              display: contents;
            }
            td{
              padding: 12px 10px;
              min-width: 130px;
              text-align: left;
              font-size: 12px;
              white-space: nowrap;
              vertical-align: middle;
              color: #777;
  
              input{
                width: 16px;
                height: 16px;
                position: relative;
                top: 3px;
              }
              &:first-child{
                min-width: unset;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 760px) {
  .enrollment-method-container{
    .enrollment-method-box{
      .enrollment-method-btn-text{
        width: auto;
        padding: 30px 0;
        p{
          text-align: center;
        }
      }
    }
  }
}
@media (max-width: 705px) {
  .enrollment-excel-import-container{
    .excel-header{
      label{
        width: 100%;
        margin-bottom: 10px;
      }
      .download-btn-container{
        .btn{
          margin-bottom: 10px;
        }
      }
    }
  }
}
@media (max-width: 530px) {
  .xs-btn-hide{
    display: none;
  }
}
@media (max-width: 480px) {
  .enrollment-method-container{
    h1{
      font-size: 14px;
    }
    .enrollment-method-box{
      width: auto;
      .enrollment-method-btn-text{
        width: auto;
        padding: 30px 0;
        p{
          text-align: center;
        }
      }
    }
  }
  .enrollment-summary-container{
    .footer-options{
      .password-check-input{
        margin-top: 10px;
        label{
          width: 100%;
        }
        .password-input{
          margin-top: 15px;
          width: 140px;
        }
      }
    }
  }
  .enrollment-web-input-container{
    .add-dependent-form{
      padding: 0 10px;
      .footer-buttons{
        margin-top: 50px;
      }
      .side-arrows{
        &.left{
          top: 28rem;
          left: 50px;
        }
        &.right{
          top: 28rem;
          right: 50px;
        }
      }
    }
  }
}