@media (max-width: 1280px) {
  /* ... */
}

/* Large (lg) */

@media (max-width: 1024px) {
  /* ... */
}

/* Medium (md) */

@media (max-width: 768px) {
  /* ... */
}

/* Small (sm) */

@media (max-width: 640px) {
  /* ... */
  .modal-container {
    width: 92% !important;
    margin: 70px auto;
  }
}


// ------ CORPORATE LIST ADD FILTER ------ //
  .add-filter-wrapper {
    .modal-container {
      width: 270px;
      padding: 30px 20px;
      font-size: 16px;
      margin: 150px auto 0;
    }

    .modal-header > div {
      display: flex;
      align-items: center;
      margin: 0 0 20px;

      h3 {
        flex: 1;
      }
    }

    .cancel-icon {
      width: 14px;
      height: 14px;
    }

    .calendar-icon {
      width: 16px;
      height: 16px;
      position: absolute;
      top: 10px;
      left: 10px;
    }

    button {
      width: 100%;
    }

    input {
      background-color: #eff2f4;
      border-radius: 2px;
      border: 1px solid #e0e0e0;
      color: #949494;
      height: 38px;
      width: 100%;
      padding: 0 0 0 35px;
      font-size: 14px;
    }

    .expiry-input-wrapper {
      margin: 0 0 20px;

      .date-container {
        position: relative;
        margin: 10px 0 0;
      }
    }

    .modal-footer {
      margin: 40px 0 0;
    }
  }
// --------------------------------------- //

// ------ CORPORATE LIST ADD FILTER ------ //
  .export-modal-wrapper {
    font-size: 16px;

    .modal-container {
      border-radius: 0;
      width: 700px;
    }

    .modal-header > div {
      background-color: #4657cc;
      /*background-color: rgb(63,81,181);*/
      color: #fff;
      display: flex;
      align-items: center;
      height: 64px;
      padding: 0 16px;

      h3 {
        flex: 1;
      }

      img {
        width: 15px;
        height: 15px;
      }
    }

    .modal-body {
      padding: 25px;
      overflow-y: auto;
      max-height: calc( 100vh - 230px );

      .dl-corp-content-wrapper {
        display: flex;
        min-height: 600px;
      }

      .properties-container {
        padding: 0 15px 0 0;
        border-right: 2px solid #e9e9e9;
        width: 50%;

        .column-check-box{
          margin-bottom: 12px;;
        }
      }

      .selected-columns-container {
        padding: 0 0 0 15px;
        width: 50%;
      }
    }

    .properties-search-container {
      position: relative;
      border: 1px solid #cecece;
      padding: 6px 8px;
      border-radius: 3px;
      display: flex;
      background: #fbfbfb;

      input {
        background-color: transparent;
        border: 0;
        flex: 1;
        font-weight: 700;
      }

      i {
        color: #999;
        position: absolute;
        right: 10px;
        top: 7px;
      }
    }

    .properties-title {
      margin: 25px 0 18px 0;
    }

    .corporate-list-checkbox-container .checkbox-input {
      .checkbox-label {
        padding: 0 0 0 35px;
      }

      .checkbox-mark {
        top: 3px !important;
      }
    }

    .data-column-header-title {
      margin: 15px 0;
    }

    .selected-col-box-container {
      border: 1px solid #4154af;
      width: 240px;
      height: 30px;
      border-radius: 3px;
      display: flex;
      align-items: center;
      padding: 0 10px;
      margin-bottom: 10px;

      span {
        flex: 1;
      }

      i {
        cursor: pointer;
        color: #999;
      }
    }

    .modal-footer {
      padding: 25px;
      
      button{
        height: 45px;
        padding: 10px 35px;
        font-size: 16px;
      }
    }
  }

  @media (max-width: 768px) {
    .export-modal-wrapper{
      .modal-container {
        width: 95%;
      }

      .corporate-list-checkbox-container{
        .checkbox-input{
          .checkbox-label{
            font-size: 14px;
          }
        }
      }  

      .selected-col-box-container{
        width: 100%;

        span{
          font-size: 14px;
        }
      } 
    }   
  }
  @media (max-width: 550px) {
    .export-modal-wrapper{
      .corporate-list-checkbox-container{
        .checkbox-input{
          .checkbox-label{
            font-size: 12px;
          }
        }
      }  
      .selected-col-box-container{
        span{
          font-size: 12px;
        }
      } 
      .modal-body{
        .properties-container {
          width: 55%;
        }
        .selected-columns-container {
          width: 45%;
        }
      }
      
    }   
  }
  @media (max-width: 480px) {
    .export-modal-wrapper{
      .modal-body{
        padding-bottom: 0;

        .dl-corp-content-wrapper{
          flex-wrap: wrap;
    
          .properties-container{
            border: none;
            width: 100%;
            overflow-y: auto;
            max-height: calc( 50vh - 140px );
            padding-right: 25px;
          }
          .selected-columns-container{
            width: 100%;
            overflow-y: auto;
            max-height: calc( 50vh - 140px );
            padding: 0 20px 0 0;
            margin: 20px 0px 0 0;
          }
        }
      }
      .corporate-list-checkbox-container{
        .checkbox-input{
          .checkbox-label{
            font-size: 14px;
          }
        }
      }  
      .selected-col-box-container{
        span{
          font-size: 14px;
        }
      } 
    }
    
    
  }
// --------------------------------------- //

// ------ EMPLOYEE INFO SETTINGS MANAGE CAP PER VISIT MODAL ------ //

.modal-mask.manage-cap-modal-wrapper {
  z-index: 1;

  .modal-wrapper {
    display: flex;
    align-items: center;
  }

  .modal-container {
    padding: 16px 16px 0;
    margin: 0 auto;
  }

  h1 {
    font-size: 20px;
    margin: 0 0 20px;
  }

  .gp-cap-input-wrapper {
    border-radius: 2px;
    border: 1px solid #ccc;
    padding: 0 55px 0 10px;
    position: relative;
    width: 200px;
    height: 35px;
    margin: 10px 0 20px 0;

    input {
      height: 100%;
      width: 100%;
    }

    .icon-right {
      position: absolute;
      top: 0;
      right: 0;
      color: #3f77b5;
      height: 100%;
      width: 45px;
      text-align: center;
      line-height: 34px;
      border-left: 1px solid #ccc;
    }
  }

  .modal-footer {
    text-align: right;
    padding: 0 0 10px;

    .btn-close {
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
      padding: 10px 15px;
      padding: 0 15px;
      height: 36px;
    }
  }
}

@media (max-width: 450px) {
  .manage-cap-modal-wrapper .modal-container {
    width: 100%;
    margin: 0 20px;
  }
}

// -------------------------------------------------------------- //

// ------MEMBER LIST MODAL ------ //
  .transfer-account {
    .modal-container {
      width: 450px;
      font-size: 16px;
      margin: 70px auto;
    }
    .modal-header {
      background: rgb(63, 81, 181);
      color: #fff;
    }

    .modal-body {

      .transfer-to-wrapper{
        position: relative;
        .company-list-drop {
          z-index: 99;
          position: absolute;
          top: 40px;
          left: 0;
          background: #eee;
          max-height: 146px;
          width: 100%;
          overflow-y: auto;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    
          .company {
            border-bottom: 1px solid #e9e9e9;
            cursor: pointer;
            display: block;
            padding: 5px 10px;
          }
        }
      }
      
    }
  }
// ------------------------------ //


// ------------ CLAIM SUBMISSION IN NETWORK CLAIM SUMMARY MODAL ----------- //
  .in-network-claim-container {
    .network-summary-row {
      display: flex;
      margin: 0 0 15px;

      >label {
        color: #999;
        width: 50%;
      }

      >span {
        width: 50%;
      }
    }
  }
  .employee-details-options {

    .modal-container {
      width: 400px;
      // margin: 300px auto;
    }

    .modal-header {

      background-color: #4657cc;
      /*background-color: rgb(63,81,181);*/
      color: #fff;
      display: flex;
      align-items: center;
      height: 64px;
      padding: 0 16px;
      font-size: 18px;
    }
    

    .modal-body {
      padding: 20px;
      
    
      .btn-options-container button {
        display: block;
        width: 200px;
        margin: 0 auto 20px;
        padding: 10px;
      }
    }

    .modal-footer {
      padding: 0 10px;
      position: relative;
      text-align: right;

      .btn-close {
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
        background-color: transparent;
        margin: 10px 0;
        border: 0;
        min-height: 36px;
        min-width: 88px;
      }

      label {
        position: absolute;
        left: 15px;
        top: 20px;
      }
    }

    .update-pass-header {
      overflow: hidden;
      margin: 0 0 30px;

      .fa-times {
        float: right;
      }
    }

    .btn-update {
      width: 100%;
    }

    .sms-form {
      display: flex;

      .country-mobile-input-wrapper {
        position: relative;
        margin: 10px 0 0;
      }

      >div:nth-child(1) {
        flex: 1;
      }

      >div:nth-child(2) {
        flex: 2;
        margin: 0 0 0 20px;
      }

      input {
        width: 100%;
        border: 0;
        border-bottom: 1px solid #cbcbcb;
        padding: 5px 0px;
        font-weight: 700;
      }

      .fa-caret-down {
        position: absolute;
        top: 6px;
        right: 0;
      }
    }
  }
// ------------------------------ //


// -------------- RENEWAL MODAL SETTINGS ---------------- //

.show-renewal-modal {
  
  .modal-wrapper {
    display: flex;
    align-items: center;
  }

  .modal-container {
    width: 450px;
  }

  .modal-header {
    background-color: rgb(63,81,181);
    color: #fff;
    padding: 16px 15px;

    h1 {
      font-size: 20px;
      font-weight: 500;
    }
  }

  .modal-body {
    padding: 20px 20px 40px;
  }

  .renew-plan-row {
    margin: 0 0 10px;

    >span {
      color: #777;
      margin: 0 0 0 5px;
      display: inline-block;
    }
  }

  .date-container {
    padding: 10px 0 0;
    display: flex;
    align-items: center;
  }

  .new-plan-start-container { margin: 30px 0 0; }
  .new-plan-start-container >div {
    position: relative;
    width: 147px;

    img {
      width: 20px;
      height: 20px;
      margin: 0 10px 0 0;
    }

    input {
      border: 0;
      font-weight: 700;
    }
  }

  .start-date-input-wrapper {
    height: 40px;
    border-radius: 0;
    border: 1px solid #ddd;
    padding: 0 15px;
    display: flex;
    align-items: center;
  }

  .modal-footer {
    padding: 0 15px;
    text-align: right;
  }
}

@media (max-width: 500px) {
  .show-renewal-modal {
    .modal-container {
      width: 100%;
      margin: 0 20px;
    }

    .popover-origin.direction-bottom.align-left, .popover-origin.direction-top.align-left {
      left: -50px;
    }

    .popover-origin .popover-content-wrapper .popover-content.align-left:after {
      left: 60px;
    }

  }
}

// ------------------------------------------------------ //



//  ------------ Settings Update Reset Password --------- //

.update-reset, .sms-notification {
  .modal-container {
    width: 450px;
    font-size: 16px;
    margin: 70px auto;
  }
  .modal-header {
    background: rgb(63, 81, 181);
    color: #fff;
  }
}
// .sms-notification {
//   .modal-container {
//     width: 450px;
//     font-size: 16px;
//     margin: 70px auto;
//   }
//   .modal-header {
//     background: rgb(63, 81, 181);
//     color: #fff;
//   }
// }

// ----------------------------------------------------- //