
// ------ CORPORATE LIST ADD FILTER ------ //
  .add-filter-wrapper {
    .modal-container {
      width: 270px;
      padding: 30px 20px;
      font-size: 16px;
      // margin: 150px auto 0;
    }

    .modal-header > div {
      display: flex;
      align-items: center;
      margin: 0 0 20px;

      h3 {
        flex: 1;
      }
    }

    .cancel-icon {
      width: 14px;
      height: 14px;
    }

    .calendar-icon {
      width: 16px;
      height: 16px;
      position: absolute;
      top: 10px;
      left: 10px;
    }

    button {
      width: 100%;
    }

    input {
      background-color: #eff2f4;
      border-radius: 2px;
      border: 1px solid #e0e0e0;
      color: #949494;
      height: 38px;
      width: 100%;
      padding: 0 0 0 35px;
      font-size: 14px;
    }

    .expiry-input-wrapper {
      margin: 0 0 20px;

      .date-container {
        position: relative;
        margin: 10px 0 0;
      }
    }

    .modal-footer {
      margin: 40px 0 0;
    }
  }
// --------------------------------------- //

// ------ CORPORATE LIST ADD FILTER ------ //
  .export-modal-wrapper {
    font-size: 16px;

    .modal-container {
      border-radius: 0;
      width: 700px;
    }

    .modal-header > div {
      background-color: #4657cc;
      /*background-color: rgb(63,81,181);*/
      color: #fff;
      display: flex;
      align-items: center;
      height: 64px;
      padding: 0 16px;

      h3 {
        flex: 1;
      }

      img {
        width: 15px;
        height: 15px;
      }
    }

    .modal-body {
      padding: 25px;
      overflow-y: auto;
      max-height: calc( 100vh - 230px );

      .dl-corp-content-wrapper {
        display: flex;
        min-height: 600px;
      }

      .properties-container {
        padding: 0 15px 0 0;
        border-right: 2px solid #e9e9e9;
        width: 50%;

        .column-check-box{
          margin-bottom: 12px;;
        }
      }

      .selected-columns-container {
        padding: 0 0 0 15px;
        width: 50%;
      }
    }

    .properties-search-container {
      position: relative;
      border: 1px solid #cecece;
      padding: 6px 8px;
      border-radius: 3px;
      display: flex;
      background: #fbfbfb;

      input {
        background-color: transparent;
        border: 0;
        flex: 1;
        font-weight: 700;
      }

      i {
        color: #999;
        position: absolute;
        right: 10px;
        top: 7px;
      }
    }

    .properties-title {
      margin: 25px 0 18px 0;
    }

    .corporate-list-checkbox-container .checkbox-input {
      .checkbox-label {
        padding: 0 0 0 35px;
      }

      .checkbox-mark {
        top: 3px !important;
      }
    }

    .data-column-header-title {
      margin: 15px 0;
    }

    .selected-col-box-container {
      border: 1px solid #4154af;
      width: 240px;
      height: 30px;
      border-radius: 3px;
      display: flex;
      align-items: center;
      padding: 0 10px;
      margin-bottom: 10px;

      span {
        flex: 1;
      }

      i {
        cursor: pointer;
        color: #999;
      }
    }

    .modal-footer {
      padding: 25px;
      
      button{
        height: 45px;
        padding: 10px 35px;
        font-size: 16px;
      }
    }
  }

// GP CAP PER VISIT 
  .modal-mask.file-upload-modal {
    z-index: 0;
    .modal-container {
      width: 580px;
    }
    .modal-header,
    .modal-body,
    .modal-footer {
      padding: 15px 20px;
    }
  }
  @media (max-width: 768px) {
    .export-modal-wrapper{
      .modal-container {
        width: 95%;
      }

      .corporate-list-checkbox-container{
        .checkbox-input{
          .checkbox-label{
            font-size: 14px;
          }
        }
      }  

      .selected-col-box-container{
        width: 100%;

        span{
          font-size: 14px;
        }
      } 
    }   
  }
  @media (max-width: 550px) {
    .export-modal-wrapper{
      .corporate-list-checkbox-container{
        .checkbox-input{
          .checkbox-label{
            font-size: 12px;
          }
        }
      }  
      .selected-col-box-container{
        span{
          font-size: 12px;
        }
      } 
      .modal-body{
        .properties-container {
          width: 55%;
        }
        .selected-columns-container {
          width: 45%;
        }
      }
      
    }   
  }
  @media (max-width: 480px) {
    .export-modal-wrapper{
      .modal-body{
        padding-bottom: 0;

        .dl-corp-content-wrapper{
          flex-wrap: wrap;
    
          .properties-container{
            border: none;
            width: 100%;
            overflow-y: auto;
            max-height: calc( 50vh - 140px );
            padding-right: 25px;
          }
          .selected-columns-container{
            width: 100%;
            overflow-y: auto;
            max-height: calc( 50vh - 140px );
            padding: 0 20px 0 0;
            margin: 20px 0px 0 0;
          }
        }
      }
      .corporate-list-checkbox-container{
        .checkbox-input{
          .checkbox-label{
            font-size: 14px;
          }
        }
      }  
      .selected-col-box-container{
        span{
          font-size: 14px;
        }
      } 
    }
    
    
  }
// --------------------------------------- //

// ------ EMPLOYEE INFO SETTINGS MANAGE CAP PER VISIT MODAL ------ //

  .modal-mask.manage-cap-modal-wrapper {
    z-index: 1;

    .modal-wrapper {
      display: flex;
      align-items: center;
    }

    .modal-container {
      padding: 16px 16px 0;
      margin: auto;
    }

    h1 {
      font-size: 20px;
      margin: 0 0 20px;
    }

    .gp-cap-input-wrapper {
      border-radius: 2px;
      border: 1px solid #ccc;
      padding: 0 55px 0 10px;
      position: relative;
      width: 200px;
      height: 35px;
      margin: 10px 0 20px 0;

      input {
        height: 100%;
        width: 100%;
      }

      .icon-right {
        position: absolute;
        top: 0;
        right: 0;
        color: #3f77b5;
        height: 100%;
        width: 45px;
        text-align: center;
        line-height: 34px;
        border-left: 1px solid #ccc;
      }
    }

    .modal-footer {
      text-align: right;
      padding: 0 0 10px;

      .btn-close {
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
        padding: 10px 15px;
        padding: 0 15px;
        height: 36px;
      }
    }
  }

// -------------------------------------------------------------- //

// ------MEMBER LIST MODAL ------ //
  .modal-mask.transfer-account {
    z-index: 2;
    .modal-container {
      width: 450px;
      font-size: 16px;
      margin: 70px auto;
    }
    .modal-header {
      background: rgb(63, 81, 181);
      color: #fff;
    }

    .modal-body {

      .transfer-to-wrapper{
        position: relative;
        .company-list-drop {
          z-index: 99;
          position: absolute;
          top: 40px;
          left: 0;
          background: #eee;
          max-height: 146px;
          width: 100%;
          overflow-y: auto;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    
          .company {
            border-bottom: 1px solid #e9e9e9;
            cursor: pointer;
            display: block;
            padding: 5px 10px;
          }
        }
      }
      
    }
  }
// ------------------------------ //


// ------------ CLAIM SUBMISSION IN NETWORK CLAIM SUMMARY MODAL ----------- //
  .in-network-claim-container {
    .modal-container{
      width: 450px;
    }
    .network-summary-row {
      display: flex;
      margin: 0 0 15px;

      >label {
        color: #999;
        width: 50%;
      }

      >span {
        width: 50%;
      }
    }
  }
  .employee-details-options {

    .modal-container {
      width: 400px;
      // margin: 300px auto;
    }

    .modal-header {
      position: relative;
      background-color: #4657cc;
      /*background-color: rgb(63,81,181);*/
      color: #fff;
      display: flex;
      align-items: center;
      height: 64px;
      padding: 0 16px;
      font-size: 18px;
    }
    

    .modal-body {
      padding: 20px;
      
    
      .btn-options-container button {
        display: block;
        width: 200px;
        margin: 0 auto 20px;
        padding: 10px;
      }
    }

    .modal-footer {
      padding: 0 10px;
      position: relative;
      text-align: right;

      button{
        &:disabled{
          cursor: not-allowed;
          opacity: .5;
        }
      }

      .btn-close {
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
        background-color: transparent;
        margin: 10px 0;
        border: 0;
        min-height: 36px;
        min-width: 88px;
      }

      label {
        position: absolute;
        left: 15px;
        top: 20px;
      }
    }

    .update-pass-header {
      overflow: hidden;
      margin: 0 0 30px;

      .fa-times {
        float: right;
      }
    }

    .btn-update {
      width: 100%;
    }

    .sms-form {
      display: flex;

      .country-mobile-input-wrapper {
        position: relative;
        margin: 10px 0 0;
      }

      >div:nth-child(1) {
        flex: 1;
      }

      >div:nth-child(2) {
        flex: 2;
        margin: 0 0 0 20px;
      }

      input {
        width: 100%;
        border: 0;
        border-bottom: 1px solid #cbcbcb;
        padding: 5px 0px;
        font-weight: 700;
      }

      .fa-caret-down {
        position: absolute;
        top: 6px;
        right: 0;
      }
    }
    &.claim-type-modal .modal-footer,
    &.select-account-plan-type .modal-footer {
      padding: 0 10px 10px 10px;
    }
  }
// ------------------------------ //


// -------------- RENEWAL MODAL SETTINGS ---------------- //

  .modal-mask.show-renewal-modal {
    z-index: 0;

    .modal-wrapper {
      display: flex;
      align-items: center;
    }

    .modal-container {
      width: 450px;
    }

    .modal-header {
      background-color: rgb(63,81,181);
      color: #fff;
      padding: 16px 15px;

      h1 {
        font-size: 20px;
        font-weight: 500;
      }
    }

    .modal-body {
      padding: 20px 20px 40px;

      .summary-title {
        font-size: 20px;
        margin: 0 0 20px;
      }
    }

    .renew-plan-row {
      margin: 0 0 10px;

      >span {
        color: #777;
        margin: 0 0 0 5px;
        display: inline-block;
      }
    }

    .date-container {
      padding: 10px 0 0;
      display: flex;
      align-items: center;
    }

    .new-plan-start-container { margin: 30px 0 0; }
    .new-plan-start-container >div {
      position: relative;
      width: 147px;

      img {
        width: 20px;
        height: 20px;
        margin: 0 10px 0 0;
      }

      input {
        border: 0;
        font-weight: 700;
      }
    }

    .start-date-input-wrapper {
      height: 40px;
      border-radius: 0;
      border: 1px solid #ddd;
      padding: 0 15px;
      display: flex;
      align-items: center;
    }

    .modal-footer {
      padding: 0 15px;
      text-align: right;

      .btn-back {
        margin: 10px 0 10px 10px;
      }
    }
  }

// ------------------------------------------------------ //


//  ------------ Settings Update Reset Password --------- //


  .modal-mask.update-reset, .modal-mask.sms-notification {
    z-index: 0;
    
    .modal-container {
      width: 450px;
      font-size: 16px;
      margin: 70px auto;
    }
    .modal-header {
      background: rgb(63, 81, 181);
      color: #fff;
    }
  }
  // .sms-notification {
  //   .modal-container {
  //     width: 450px;
  //     font-size: 16px;
  //     margin: 70px auto;
  //   }
  //   .modal-header {
  //     background: rgb(63, 81, 181);
  //     color: #fff;
  //   }
  // }

// ----------------------------------------------------- //


// ----------------------------------------------------- //
//            MODAL FOR DELETE DEPENDET                  //
// ----------------------------------------------------- //

  .modal-mask.remove-dependent-container {
    position: absoulute;
    z-index: 2;
    .modal-header {
      background-color: #ff6763;
      position: relative;

      .fa-times {
        position: absolute;
        top: 20px;
        right: 15px;
      }
    }

    .name-text-value {
      margin: 5px 0 0;
    }

    .modal-footer {
      padding: 10px 20px;
    }

    .btn-delete {
      background-color: #ff6763;
    }
  }

// ----------------------------------------------------- //

@media (max-width: 1280px) {
  /* ... */
}

/* Large (lg) */

@media (max-width: 1024px) {
  /* ... */
}

/* Medium (md) */

@media (max-width: 768px) {
  /* ... */
}

/* Small (sm) */

@media (max-width: 640px) {
  /* ... */
  // .modal-container {
  //   width: 92%;
  //   margin: 70px auto;
  // }
}

@media (max-width: 500px) {
  .show-renewal-modal {
    .modal-container {
      width: 100%;
      margin: 0 20px;
    }

    .popover-origin.direction-bottom.align-left, .popover-origin.direction-top.align-left {
      left: -50px;
    }

    .popover-origin .popover-content-wrapper .popover-content.align-left:after {
      left: 60px;
    }

  }
}

@media (max-width: 480px) {
  .modal-mask.update-reset .modal-container, 
  .modal-mask.sms-notification .modal-container {
    width: 100%;
    margin: 0 40px;
  }
  .modal-mask.show-renewal-modal .modal-container {
    width: 100%;
    margin: 0 40px;
  }
}

@media (max-width: 450px) {
  .manage-cap-modal-wrapper .modal-container {
    width: 100%;
    margin: 0 20px;
  }
}

@media (max-width: 420px) {
  .employee-details-options .modal-container {
    width: 100%;
    margin: 0 20px;
  }
  .claim-type-modal {
    .claim-type-container {
      display: block;
    }
    .settings-input-wrapper input {
      width: 100%;
    }
  }
}


// ------ SUMMARY EDIT EMPLOYEE DETAILS ------ //
  .summary-edit-employee-modal{
    .modal-container {
      width: 400px;
      margin: 0px auto;
    }
    .modal-header {
      background-color: #3EA2D4;
      border-radius: 4px 4px 0px 0px;
      color: #fff;
      padding: 17px 15px;
      font-weight: 500;

      h1 {
        font-size: 18px;
      }
    }
    .modal-body {
      padding: 20px 80px 20px 20px;
      max-height: 70vh;
      overflow-y: auto;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background-color: #aaa;
        border: 2px solid #ddd;
      }
      &::-webkit-scrollbar-track {
        /*background-color: transparent;*/
        background-color: #ddd;
      }
      .summary-edit-emp-form{
        .form-box{
          margin-bottom: 25px;
          position: relative;
          label{
            display: block;
            font-size: 12px;
            color: #888;
          }
          input,select{
            display: block;
            margin-top: 0;
            background: none;
            padding: 2px 2px 1px;
            border-width: 0 0 1px;
            line-height: 26px;
            height: 30px;
            border-radius: 0;
            border-style: solid;
            width: 100%;
            font-weight: 700;
          }
          select{
            -webkit-appearance: none;
          }
          .fa-caret-down {
            position: absolute;
            top: 25px;
            right: 0;
            z-index: 0;
          }
          span.err-message{
            color: #bf4d4d;
            font-size: 11px;
          }
        }
        .date-container {
          position: relative;
      
          input.vDatepicker {
            width: 100%;
            position: relative;
            z-index: 1;
            cursor: pointer;
          }
      
          .fa-caret-down {
            position: absolute;
            top: 7px;
            right: 0;
            z-index: 0;
          }
        }
        .dependent-form{
          >p{
            padding: 5px 20px;
            margin: 20px -80px 20px -20px;
            border-bottom: 1px solid #e9e9e9;
          }
        }
      }
    }
    .modal-footer {
      padding: 5px 10px;
      position: relative;
      text-align: right;
      border-top: 1px solid #d9d9d9;
      button{
        margin-left: 10px;
        text-transform: uppercase;
      }
      .btn-close {
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
        background-color: transparent;
        margin: 10px 0 10px 10px;
        border: 0;
        min-height: 36px;
        min-width: 88px;
      }
      .btn-delete {
        background: #fff;
        color: rgb(221,44,0);
        border: 1px solid rgb(221,44,0);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
        background-color: transparent;
        margin: 10px 0 10px 10px;
        min-height: 36px;
        min-width: 88px;
      }

      label {
        position: absolute;
        left: 15px;
        top: 20px;
      }
    }
  }
  @media  (max-width: 450px)  {
    .summary-edit-employee-modal{
      .modal-container {
        width: 90%;
        .modal-body {
          padding: 20px;
        }
      }
      .modal-footer{
        .btn-close, .btn-delete, .btn-primary{
          margin: 20px 0;
        }
      }
    }
  }
// ------------------------------------------- //

// ------ DOWNLOAD ECLAIM RECEIPTS MODAL ------ //
  .download-eclaim-receipts-modal{
    &.modal-mask{
      z-index: 100;
    }
    .modal-container {
      width: 600px;
      margin: 0px auto;
    }
    .modal-header {
      background-color: rgb(63,81,181);
      border-radius: 4px 4px 0px 0px;
      color: #fff;
      padding: 17px 15px;
      font-weight: 500;

      h1 {
        font-size: 18px;
      }
    }
    .modal-body {
      padding: 20px;
      // min-height: 300px;
      // max-height: 70vh;
      // overflow-y: auto;
      // overflow-x: hidden;
      button{
        cursor: pointer;
        &:disabled{
          opacity: .5;
          cursor: not-allowed;
        }
      }
      &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background-color: #aaa;
        border: 2px solid #ddd;
      }
      &::-webkit-scrollbar-track {
        /*background-color: transparent;*/
        background-color: #ddd;
      }
      .form-box{
        label{
          display: block;
          font-size: 12px;
          color: #888;
          margin-bottom: 15px;
        }
        .vDatepicker{
          background-color: transparent;
          border-bottom: 1px solid rgba(0, 0, 0, 0.12);
          padding: 2px;
        }
      }
      .date-selection{
        padding-right: 50px;
        .btn-add{
          width: 88px;
          margin-left: 35px;
          position: relative;
          top: -8px;
        }
      }
      .date-container {
        position: relative;
        .fa-caret-down {
          position: absolute;
          top: 7px;
          right: 0;
          z-index: 0;
        }
      }
      .vue-monthly-picker {
        .date-popover{
          margin-top: 10px;
          box-shadow: none;
          background-color: rgb(250, 250, 250);
          border: 1px solid rgb(218, 218, 218);
        }
        .picker {
          font-weight: 700;
          color: #393d46;
          .flexbox div {
            padding: 10px 0;
          }
        }
        .prev:after {
          border: 2px solid #777;
          border-width: 0 0 2px 2px;
          height: 10px;
          width: 10px;
          transform: rotate(45deg) translateX(-20%) translateY(-50%);
        }
        .next:after {
          border: 2px solid #777;
          border-width: 2px 2px 0 0;
          height: 10px;
          width: 10px;
          transform: rotate(45deg) translateX(-120%) translateY(50%);
        }
      }
      .filter-text{
        font-size: 18px;
      }
      .filter-list{
        margin-top: 10px;
        label{
          display: block;
          position: relative;
          padding-left: 35px;
          margin-bottom: 12px;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
        label span {
          display: block;
        }
        label input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }
        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 23px;
          width: 23px;
          border: 2px solid #d6d6d6;
          border-radius: 4px;
        }
        label input:checked ~ .checkmark {
          border: 2px solid #3f51b5;
          border-radius: 4px;
        }
        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }
        label input:checked ~ .checkmark:after {
          display: block;
        }
        label .checkmark:after {
          left: 6px;
          top: 1px;
          width: 7px;
          height: 14px;
          border: solid #3f51b5;
          border-width: 0 2px 2px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
      .selected-month-list{
        margin-top: 10px;
        .month{
          background: #FFF;
          border: 2px solid #e9e9e9;
          padding: 8px 10px;
          border-radius: 4px;
          width: 140px;
          text-align: left;
          color: #666;
          margin-bottom: 5px;
          font-size: 14px;
          position: relative;
          i{
            position: absolute;
            right: 8px;
            top: 11px;
          }
        }
      }
    }
    .modal-footer {
      padding: 20px 10px 5px 10px;
      position: relative;
      text-align: right;
      button{
        margin-left: 10px;
        &:disabled{
          opacity: .5;
          cursor: not-allowed;
        }
      }
      .btn-close {
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
        background-color: transparent;
        margin: 10px 0 10px 10px;
        border: 0;
        min-height: 36px;
        min-width: 88px;
      }
      
    }
  }

  @media  (max-width: 660px)  {
    .download-eclaim-receipts-modal{
      .modal-container {
        width: 90%;
        margin: 0px auto;
      }
    }
  }
// -------------------------------------------- //

// ------ SELECT ACCOUNT/PLAN TYPE MODAL ----- //
  .select-account-plan-type {

    .modal-container {
      width: 300px;
    }

    .modal-header {
      position: relative;

      .fa-times {
        position: absolute;
        right: 20px;
        top: 22px;
        cursor: pointer;
      }
    }

    .modal-body {
      padding: 20px 32px;
    }
    .checkbox-child {
      padding: 0 0 0 35px;
    }

    .modal-footer {
      text-align: center;
      padding: 0 0 20px;
    }
  }

  @media (max-width: 400px) {
    .select-account-plan-type .modal-container {
      width: 100%;
    }
  }
// -------------------------------------------- //

// ------ SELECT ACCOUNT/PLAN TYPE MODAL ------ //
  .view-plans-modal{
    .modal-container {
      width: 600px;
      margin: 0px auto;
    }
    .modal-header {
      background-color: rgb(63,81,181);
      border-radius: 4px 4px 0px 0px;
      color: #fff;
      padding: 17px 15px;
      font-weight: 500;

      h1 {
        font-size: 18px;
      }
    }
    .modal-body {
      padding: 0 0px 20px 0px;
      // max-height: 70vh;
      // overflow-y: auto;
      // overflow-x: hidden;
      &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background-color: #aaa;
        border: 2px solid #ddd;
      }
      &::-webkit-scrollbar-track {
        /*background-color: transparent;*/
        background-color: #ddd;
      }
      .account-list-container{
        max-height: 70vh;
        overflow-y: auto;
        overflow-x: hidden;
        .account-list-box{
          margin-bottom: 50px;
          .header-title{
            color: rgba(0, 0, 0, 0.54);
            background-color: #fafafa;
            padding: 15px 20px;
            font-size: 18px;
            border: 1px solid #ddd;
            border-width: 1px 0;
          }
          .transaction-box{
            padding: 15px 20px;
            p.col-title{
              font-size: 17px;
            }
            p{
              font-size: 14px;
              margin-bottom: 8px;
              label{
                display: inline-block;
                // width: 160px;
                width: 155px;
              }
              >span{
                color: #777;
              }
            }
            button{
              border: none;
              line-height: 1;
              padding: 10px 15px;
              font-size: 14px;
              border-radius: 2px;
              height: 36px;
              box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
              /* text-transform: uppercase; */
              transition: all .3s ease-in;
              font-family: inherit;
              font-weight: 700;
              width: 215px;
              margin-bottom: 10px;
              text-transform: uppercase;
            }
            .btn-blue{
              color: #fff;
              background-color: #2196F3;
            }
            .btn-blue[disabled] {
              opacity: .5;
            }
            .btn-gray{
              color: rgb(33,33,33);
              background-color: rgb(250,250,250);
              box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
            }
          }
          .transaction-box:not(:last-child){
            border-bottom: 1px solid #e9e9e9;
          }
          .column:nth-child(2){
            text-align: right;
          }
        }
      }
      .record-payment-container{
        padding: 20px 15px;
        .form-box{
          margin-bottom: 25px;
          position: relative;
          label{
            display: block;
            font-size: 12px;
            color: #888;
          }
          input{
            display: block;
            margin-top: 0;
            background: none;
            padding: 2px 2px 1px;
            border-width: 0 0 1px;
            line-height: 26px;
            height: 30px;
            border-radius: 0;
            border-style: solid;
            width: 100%;
            font-weight: 700;
          }
        }
        .date-container {
          position: relative;
      
          input.vDatepicker {
            width: 100%;
            position: relative;
            z-index: 1;
            cursor: pointer;
          }
      
          .fa-caret-down {
            position: absolute;
            top: 7px;
            right: 0;
            z-index: 0;
          }
        }
      }
      
    }
    .modal-footer {
      padding: 5px 10px;
      position: relative;
      text-align: right;
      border-top: 1px solid #d9d9d9;
      button{
        margin-left: 10px;
      }
      .btn-close {
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
        background-color: transparent;
        margin: 10px 0 10px 10px;
        border: 0;
        min-height: 36px;
        min-width: 88px;
      }
    }
  }
  @media (max-width: 780px) {
    .view-plans-modal{
      .modal-body {
        .account-list-container{
          .account-list-box{
            .transaction-box{
              button{
                display: block;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 620px) {
    .view-plans-modal{
      .modal-container {
        width: 90%;
        margin: 0px auto;
      }
      .modal-body {
        .account-list-container{
          .account-list-box{
            .transaction-box{
              p{
                label{
                  width: 150px;
                }
              }
              button{
                display: block;
              }
            }
            .column:nth-child(2){
              text-align: left;
            }
          }
        }
      }
    }
  }
// -------------------------------------------- //

// ------ GLOBAL CSS FOR MODAL IN CORPORATE DETAILS ------ //
.corporate-details-modal {
  .modal-container {
    width: 610px;
  }
  .modal-header {
    background-color: rgb(63,81,181);
    padding: 18px 20px;
    color: #fff;
    
    h1 {
      font-size: 20px;
      font-weight: 500;
    }
  }
  .modal-body {
    padding: 20px 20px 0;
    label {
      display: block;
      font-size: 12px;
      color: #888;
    }
    input,select {
      background-color: transparent;
      border: 0;
      border-bottom: 1px solid #e2e8f0;
      width: 100%;
      height: 30px;
    }
    .fa-caret-down {
      position: absolute;
      top: 25px;
      right: 0;
    }
  }
  .modal-footer {
    padding: 20px 20px;

    .btn-close {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
      background-color: transparent;
      border: 0;
      margin: 0 10px;
      min-height: 36px;
      min-width: 88px;
    }
  }
}
@media (max-width: 600px) {
  .create-dependent-account-modal.corporate-details-modal,
  .credit-allocation-modal.corporate-details-modal {
    .modal-container {
      width: 100%;
      margin: 0 20px;
    }
  }
}
// ------------------------------------------------------ //

// ------ CREATE DEPENDENT ACCOUNT MODAL ------ //
  .create-dependent-account-modal {
    .modal-body {
      >div >div {
        margin: 0 0 40px;
      }
      h4 {
        font-size: 16px;
        margin: 0 0 20px;
      }
      .row-div >div {
        width: 33.33%;
        margin: 0 10px 0 0;
      }
      .row-div >div:last-child {
        margin: 0;
      }
    }
    .payment-status-selector span {
      margin: 0 20px 0;
    }
    .payment-status-selector button {
      width: 80px;
      padding: 8px 0;
      color: #777;
      background-color: transparent;
      border: 1px solid #d8d8d8;
      border-radius: 4px;
      font-size: 12px;

      &:nth-child(1) {
        border-radius: 4px 0 0 4px;
      }
      &:nth-child(2) {
        border-radius: 0 4px 4px 0;
      }
      &.active {
        background-color: #0392CF;
        color: #fff;
        border-color: #0392CF;
      }
    }
    .start-date-container {
      position: relative;
    }
    .plan-price-input-wrapper {
      width: 265px;
    }
  }

  @media (max-width: 600px) {
    .create-dependent-account-modal {
      .modal-body .row-div > div,
      .modal-body .row-div > div:last-child,
      .create-dependent-input-wrapper {
        width: 100%;
        margin: 0 0 20px;
      }
      .modal-body >div >div {
        margin: 0;
      }
      .dp-flex {
        display: block;
      }
      .payment-status-selector span {
        margin: 0 10px 0 0;
        font-size: 12px;
      }
      .payment-status-selector button {
        width: 68px;
      }
    }
  }
// -------------------------------------------- //

// ------ CREDIT ALLOCATION MODAL ------ //
.credit-allocation-modal {
  .modal-body {
    >div >div {
      margin: 0 0 40px;
    }
  }
  .modal-body button {
    color: #777;
    border: 2px solid #bbb3b3;
    width: 88px;
    height: 36px;
    font-size: 12px;
    
    &:nth-child(1) {
      border-radius: 4px 0 0 4px;
      border-width: 2px 1px 2px 2px;
    }
    &:nth-child(2) {
      border-radius: 0 4px 4px 0;
      border-width: 2px 2px 2px 1px;
    }
    &.active {
      border: 2px solid #44a4cc;
    }
  }
  .total-details-container {
    >div {
      margin: 0 20px 0 0;
    }
    >div >div:nth-child(1) {
      margin: 0 0 10px;
    }
  }
  .credit-add-container,
  .deposit-slider {
    width: 40%;
  }
  .deposit-slider label {
    margin: 0 0 10px;
  }
}

@media (max-width: 600px) {
  .credit-allocation-modal {
    .modal-body >div >div {
      margin: 0 0 30px;
    }
    .total-details-container {
      display: block;
    }
    .total-details-container >div {
      margin: 0;

      &:nth-child(2) {
        margin: 20px 0 0;
      }
    }
    .credit-add-container,
    .deposit-slider {
      width: 100%;
    }
  }
}
// ------------------------------------ //

// ------ SPENDING ACCOUNT SETTINGS MODAL ------ //
.spending-account-settings-modal {
  .modal-wrapper {
    overflow: initial;
  }

  .modal-container {
    padding: 20px;
    max-height: 780px;
    width: 570px;
    overflow: auto;
  }

  h1 {
    font-family: 'Helvetica Medium';
    font-size: 20px;
  }
  .medical-wellness-on-off-container {
    img {
      width: 8px;
    }
    button {
      background-color: #fff;
      border: 1px solid #d0d0d0;
      display: flex;
      height: 20px;
      position: relative;
      width: 24px;
      padding: 0 7px;
    }
    button:nth-child(1) {
      border-radius: 2px 0 0 2px;
    }
    button:nth-child(2) {
      border-radius: 0 2px 2px 0;
      
    }
    button.on {
      background-color: #3192cf;
      border-color: #3192cf;
    }
    button.off {
      background-color: #848484;
      border-color: #848484;
    }
    span {
      width: 170px;
    }
    >div {
      margin: 0 0 20px;
    }
    .check-mark {
      content: "";
      position: absolute;
      display: block;
      left: 8px;
      top: 1px;
      width: 7px;
      height: 12px;
      border: solid white;
      border-width: 0 2px 2px 0px;
      transform: rotate(45deg);
      border-radius: 2px;
    }
  }

  .medical-wellness-spending-container {
    border-top: 1px solid #d0d0d0;
    padding: 20px 0 0;

    .spending-account-text-title {
      margin: 0 0 20px;
    }

    .row-item >div:nth-child(1) {
      width: 60%;
      margin: 0 15px 0 0;
    }
    .row-item >div:nth-child(2) {
      width: 40%;
    }

    .item-div {
      display: flex;
      margin: 0 0 20px;
    }
    .input-div {
      flex: 1;
    }
    .input-div:nth-child(2) {
      margin: 0 0 0 20px;
    }
    .input-div label {
      display: block;
      margin: 0 0 10px;
    }
  }

  .input-div {
    input {
      width: 100%;
      border-radius: 3px;
      border: 1px solid #E0E0E0;
      height: 35px;
      padding: 0 10px 0 30px;
      line-height: 35px;
    }
  }
  .supplementary-input-wrapper, 
  .deposit-input-wrapper {
    width: 70px;

    span {
      display: block;
      margin: 0 0 0 10px;
    }
    input {
      padding: 0 10px;
    }
  }

  .datepicker-div {
    position: relative;

    img {
      position: absolute;
      left: 8px;
      top: 8px;
      width: 17px;
      height: 17px;
    }
  }

  .modal-body {
    margin: 30px 0;
  }

  .spending-account-container {
    margin: 0 40px 0 0;
    label {
      display: block;
      margin: 0 0 10px;
    }
  }
  .spending-selector-container {
    position: relative;
  }
  .spending-selector-container i {
    position: absolute;
    top: 10px;
    right: 25px;
  }
  select {
    background-color: #fff;
    -webkit-appearance: none;
    padding: 6px 10px;
    width: 100px;
    border-radius: 3px;
    border: 1px solid #E0E0E0;
  }

  .rollover-input-wrapper {
    width: 100px;
    i {
      right: 10px;
    }
  }
  
  .change-total-cost {
    background: #EFF2F4;
    padding: 12px;
    >div >div {
      font-family: 'Helvetica Medium';
      font-size: 18px;
      margin: 8px 0;
    }
    >div:first-child {
      margin: 0 0 20px;
    }
  }

  .modal-footer {
    text-align: right;
    .btn-primary {
      margin: 0 10px 0 0;
    }
    button:nth-child(2) {
      width: 100px;
      margin: 0;
    }
  }
}
@media(max-width: 600px) {
  .spending-account-settings-modal .modal-container {
    width: 100%;
    margin: 35px 20px auto;
    
    .medical-wellness-spending-container .row-item {
      display: block;
    }
    .medical-wellness-spending-container .row-item >div:nth-child(1) {
      width: 100%;
    }
    .medical-wellness-spending-container .row-item >div:nth-child(2) { 
      margin: 0 0 20px;
    }
  }
}
@media(max-width: 400px) {
  .spending-account-settings-modal {
    .modal-container {
      padding: 10px;
      margin: 35px 10px auto;
      .medical-wellness-spending-container .row-item > div:nth-child(2) {
        width: 100%;
      }
    }
    .spending-account-container {
      margin: 0 20px 0 0;
    }
    .medical-wellness-on-off-container >div >div {
      justify-content: center;
    }
    .medical-wellness-on-off-container span {
      width: 90px;
    }
    .medical-wellness-spending-container .input-div label {
      font-size: 12px;
    }
  }
}
// -------------------------------------------  //

// ------ EDIT INVOICE DATES SPENDING INVOICE MODAL ------ //
.edit-invoice-modal {
  .modal-container {
    width: 450px;
  }
  
  .fa-calendar-o {
    font-size: 18px;
  }

  .modal-header {
    padding: 18px 15px;
    background-color: rgb(63,81,181);
    border-radius: 4px 4px 0 0;

    h1 {
      font-size: 20px;
      font-weight: 500;
      color: #fff;
    }
  }

  .date-container {
    position: relative;

    i {
      position: absolute;
      top: 4px;
      right: 0;
    }
  }
  .modal-body {
    padding: 30px;
  }
  .edit-invoice-input-wrapper {
    margin: 0 0 20px;

    >div:nth-child(1) {
      align-self: flex-end;
      margin: 0 10px 0 0;
    }
    label {
      font-size: 12px;
      color: rgba(0,0,0,0.54);
    }
  }
  .modal-footer {
    padding: 0 10px 10px;
    text-align: right;

    .btn-close {
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
      padding: 10px 15px;
      padding: 0 15px;
      height: 36px;
      margin: 0 10px 0 0;
    }
  }
}

@media ( max-width: 600px ) {
  .edit-invoice-modal {
    .modal-container {
      width: 100%;
      margin: 0 20px;
    }
  }
}

// -----------------------------------------------------  //

// ------ PENDING ENROLLMENT MODAl IN VIEW PLAN ------ //
.modal-mask.pending-enrollment-modal {
  z-index: 0;
  .modal-container {
    width: 1000px;
  }
  .modal-header {
    padding: 18px 15px;
    background-color: rgb(63,81,181);
    border-radius: 4px 4px 0 0;

    h1 {
      font-size: 20px;
      font-weight: 500;
      color: #fff;
    }
  }
  .modal-body {
    padding: 20px;
    height: 400px;
    overflow: auto;

    .search-emp-container,
    input::placeholder {
      color: rgba(0,0,0,.54);
    }

    .fa-search {
      font-size: 18px;
      margin: 0 10px 0 0;
    }

    input {
      border-bottom: 1px solid rgb(170, 170, 170);
      padding: 5px; 
      color: rgba(0, 0, 0, 0.87);
      font-size: 16px;
      width: 250px;
    }
     
  }
  .modal-footer {
    text-align: left;
    padding: 10px 15px;

    .btn-close {
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
      padding: 10px 15px;
      padding: 0 15px;
      height: 36px;
      margin: 0 10px 0 0;
    }
  }
  .enrolled-emp-wrapper {
    margin: 20px 0;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    
    .spending-account-container >div {
      margin: 0 0 5px;
    }
    .spending-account-container >div >div {
      width: 33.33%;
    }
    .allocation-amount {
      color: #555;
      font-weight: 700;
    }
    .emp-row-info label {
      margin: 0 0 5px;
      color: #000;
      display: block;
    }
  }
  .enrolled-emp-container-box {
    width: 280px;
    height: 440px;
    box-shadow: 2px 2px 10px #949393;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 20px 20px 0;
  }
  .emp-header-container {
    padding: 15px;
    background: #1667ac;
    color: #FFF;
    border-radius: 3px 3px 0 0;
  }
  .emp-body-container {
    padding: 15px;

    >div {
      margin: 0 0 10px;
    }
  }
  .email-add-container >div,
  .date-emp-container >span {
    font-size: 16px;
    font-weight: 700;
    color: #555;
  }
  .family-coverage-container >div >div {
    width: 40%;
  }
  .enrolled-emp-pagination >div {
    justify-content: center;

    button {
      padding: 8px 27px;
      background-color: rgb(250,250,250);
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    }
    span {
      margin: 0 20px;
    }
  }
}

@media (max-width: 1023px) {
  .pending-enrollment-modal {
    .modal-container {
      width: 100%;
      margin: 0 20px;
    }
  }
}

@media (max-width: 500px) {
  .pending-enrollment-modal {

    .modal-header h1 {
      font-size: 16px;
    }
    .search-emp-container {
      display: flex;
      align-items: center;
    }
    .modal-body input {
      width: 100%;
    }
    .enrolled-emp-container-box {
      width: 100%;
      margin: 0 0 20px
    }
    .enrolled-emp-pagination > div button {
      padding: 8px 15px;
    }
  }
}
// --------------------------------------------------  //

// ------ RECORD REFUND MODAl IN VIEW PLAN ------ //
.record-refund-modal {
  .modal-footer {
    padding: 10px;
    text-align: right;
  }
  .date-container {
    position: relative;

    .popover-container {
      width: 100%;
    }
  }
  .date-container i {
    align-self: flex-end;
    margin: 0 10px 0 0;
    font-size: 16px;
  }
  .modal-body {
    >div {
      width: 50%;
    }
    >div >div {
      margin: 0 0 20px;
    }
    .fa-caret-down {
      top: 5px;
    }
  }
}
@media (max-width: 700px) {
  .record-refund-modal {
    .modal-container {
      width: 100%;
      margin: 0 20px
    }
    .modal-body {
      >div {
        width: 100%;
      }
    }
  }
}
// ---------------------------------------------  //

// ------ EDIT SPENDING DEPOSIT IN VIEW PLAN ------ //
.edit-deposit-modal {
  .spending-account-container >div >div,
  .invoice-date-container >div {
    width: 50%;

    &:first-child {
      margin: 0 40px 0 0;
    }
  }
  .modal-body >div >div {
    margin: 0 0 20px;
    h4 {
      margin: 0 0 10px;
    }
  }
  .modal-footer {
    text-align: right;
  }
  .deposit-slider label {
    margin: 0 0 20px;
  }
  .date-container {
    position: relative;
    width: 150px;

    .fa-calendar-o {
      align-self: flex-end;
      margin: 0 10px 0 0;
      font-size: 18px;
    }

    .fa-caret-down {
      position: absolute;
      top: 8px;
      right: 0;
    }
  }
}

@media (max-width: 700px) {
  .edit-deposit-modal {
    .modal-container {
      width: 100%;
      margin: 0 20px;
    }
  }
}

@media (max-width: 500px) {
  .edit-deposit-modal {
    .modal-wrapper {
      height: 100%;
    }
    .modal-container {
      width: 100%;
      margin: 0 20px;
    }
    .spending-account-container >div {
      display: block;
      >div {
        width: 100%;
      }
      >div:first-child {
        margin: 0 0 20px;
      }
    }
    .invoice-date-container {
      display: block;

      >div:first-child, >div {
        width: 100%;
        margin: 0 0 20px;
      }
    }
    .date-container {
      width: 100%;
      .popover-container {
        width: 100%;
      }
    }
  }
}
// ----------------------------------------------  //

// ------ EDIT PLAN EXTENSION IN VIEW PLAN ------ //
.edit-plan-modal {
  .modal-body {
    height: 500px;
    overflow: auto;
    
    h4 {
      margin: 0 0 20px;
    }
    select {
      -webkit-appearance: none;
    }
    .custom-checkbox-selector {
      margin: 10px 0 20px;

      input { width: auto; }
    }
    .custom-checkbox-selector label {
      font-size: 14px;
      color: #333;
    }
    .popover-container {
      width: 100%;
    }
    .fa-caret-down {
      position: absolute;
      top: 7px;
    }
    .input-individual-price-container {
      margin: 0 0 10px;
      label {
        font-size: 12px;
        color: #888;
      }
    }
  }
  .checkbox-child {
    padding: 0 0 0 35px;
  }
  .employee-account-container >div{
    width: 50%;

    &:nth-child(1) {
      margin: 0 40px 0 0;
    }

    >div {
      margin: 0 0 20px;
    }
  }
  .override-price-container h4 {
    padding: 0 0 0 30px;
  }
  .date-container {
    position: relative;

    .fa-calendar-o {
      align-self: flex-end;
      margin: 0 10px 0 0;
      font-size: 18px;
    }
  }
  .modal-footer {
    text-align: right;
  }
  .custom-checkbox-container label {
    color: #333;
    font-size: 14px;
    >span:first-child {
      padding: 0 0 0 30px;
    }
  }
  .payment-status-container >div,
  .spending-invoice-date-container >div >div:first-child {
    width: 50%;
    margin: 0 10px 0 0;
    position: relative;
  }
  .price-per-emp-container {
    margin: 0 0 20px;
  }
}
@media ( max-width: 700px ) {
  .edit-plan-modal {
    .modal-container {
      width: 100%;
      margin: 0 20px 0;
    }
  }
}

@media ( max-width: 600px ) {
  .edit-plan-modal {
    .employee-account-container {
      display: block;
    }
    .employee-account-container >div,
    .payment-status-container >div {
      width: 100%;
    }
    .custom-checkbox-container span { font-size: 12px; }
  }
}
// ---------------------------------------------  //


// ------ CREATE PLAN EXTENSTION IN VIEW PLAN ------ //
.create-plan-extension-modal {
  .modal-header {
    i {
      font-size: 20px;
      cursor: pointer;
    }
  }
  .create-plan-body >div {
    width: 50%;
  }
  .plan-extension-col-2 >div {
    margin: 0 0 20px;
  }
  .modal-body {
    .custom-checkbox-selector label {
      font-size: 14px;
      color: #333;
    }
    .checkbox-child {
      padding: 0 0 0 35px;
    }
    input {
      width: auto;
    }
  }
  .payment-status-container {
    .payment-title {
      margin: 0 0 10px;
    }
    .custom-checkbox-selector {
      margin: 0 20px 0 0;
    }
  }
  .invoice-date-container {
    width: 100%;
  }
  .plan-extension-input-wrapper {
    position: relative;
    select {
      -webkit-appearance: none;
    }
    input {
      width: 100%;
    }

    .fa-caret-down {
      top: 10px;
    }
  }
}

@media (max-width: 700px) {
  .create-plan-extension-modal {
    .modal-wrapper {
      height: 100%;
    }
    .modal-container {
      width: 100%;
      margin: 0 20px;
    }
  }
}

@media (max-width: 600px) {
  .create-plan-extension-modal {
    .modal-container {
      margin: 50px 20px 0;
    }
    .create-plan-body > div {
      width: 100%;
    }
  }
  .create-plan-body {
    display: block;
  }
  .payment-status-container .dp-flex {
    display: block;
  }
}
// -----------------------------------------------  //

// ------ CHANGE PLAN DETAILS ------ //
.change-plan-modal {
  .modal-container {
    width: 580px;
  }

  .modal-header {
    padding: 14px 16px;

    h2 {
      font-size: 20px;
      font-family: 'Helvetica Medium';
      font-weight: 300;
    }
    img {
      height: 14px;
      width: 14px;
    }
  }

  .sub-title {
    height: 46px;
    color: #2E4057;
    background: #F7F9FA;
    padding: 14px 16px;
  }

  .col-item-box {
    margin: 0 15px 0 0;
    padding: 16px;

    &:first-child {
      flex: 1.5;
    }
    &:last-child {
      width: 235px;
    }
  }
  .datepicker-div {
    position: relative;
    img {
      width: 17px;
      height: 17px;
      position: absolute;
      top: 8px;
      left: 8px;
      z-index: 1;
    }
    
  }

  .item-div {
    label {
      display: block;
      margin: 0 0 8px;
    }
    .input-div,
    .select-div {
      position: relative;
      select,input,.per-seat-div {
        width: 100%;
        -webkit-appearance: none;
        background: #FFF;
        border-radius: 3px;
        height: 35px;
        border: 1px solid #E0E0E0;
        padding: 0 10px;
        line-height: 35px;
        font-size: 14px;
        margin: 0 0 15px;
        font-weight: 700;
      }

      i {
        position: absolute;
        top: 10px;
        right: 8px;
        font-size: 18px;
        color: #979797;
      }
    }

    .popover-container input {
      padding: 0 0 0 30px;
    }

    &.date-duration-container,
    &.seat-container {
      display: flex;
    }

    &.seat-container .per-seat-div input {
      border: 0;
      margin: 0;
      height: auto;
      padding: 0 0 0 5px;
      line-height: initial;
    }

    &.date-duration-container .input-div,
    &.seat-container .input-div {
      flex: 1.5;
    }
    
    &.date-duration-container .input-div:last-child,
    &.seat-container .input-div:last-child {
      margin: 0 0 0 20px;
      flex: 1;
    }
  }
  
  .change-total-cost-wrapper {
    background: #EFF2F4;
    padding: 12px;
    margin: 25px 0 0;
    label {
      font-size: 16px;
      display: block;
      margin: 0 0 5px;
    }

    .total-cost-amount {
      font-size: 22px;
    }
    .change-total-cost {
      margin: 0 0 20px;
    }
  }

  .modal-footer {
    padding: 16px;
    text-align: right;
    
    button:first-child {
      margin: 0 15px 0 0;
    }
  }
}

@media (max-width: 600px) {
  .change-plan-modal {
    .sub-title {
      height: auto;
    }
    .modal-container {
      width: 100%;
      margin: 0 20px;
    }
    .modal-body {
      height: 380px;
      overflow: auto;
    }
    .row-item {
      display: block;
    }
    .col-item-box {
      margin: 0;

      &:last-child {
        width: 100%;
      }
    }
    .item-div.date-duration-container,
    .item-div.seat-container {
      display: block;
      .input-div:last-child {
        margin: 0;
      }
    }
    .change-total-cost-wrapper {
      margin: 0;
    }
  }
}

// -------------------------------  //