/* Gp cap per visit */
.gp-cap-per-wrapper {
  .gp-cap-header-title {
    text-align: center;

    h3 {
      font-size: 18px;
      margin: 15px 0;
    }
  }
  .gp-header-btn {
    align-items: center;

    img {
      cursor: pointer;
      height: 17px;
      width: 16px;
      margin: 0 10px 0 0;
    }
    .save-continue-btn {
      // border: solid 2px #0392cf;
      // background-color: #0392cf;
      color: #fff;
      padding: 7px 0px;
      border-radius: 2px;
      font-size: 14px;
      font-weight: 700;
      width: 140px;
      background-color: #9dc8e4;
      // border-color: #9dc8e4;
      pointer-events: none;
    }

    .save-continue-btn.active {
      background-color: #0392cf;
      pointer-events: initial;
    }
  }
  .gp-cap-body {
    overflow: auto;
    margin: 20px 0 0;
    .gp-cap-body-container {
      height: 500px;
      width: 700px;
    }
  }
  table {
    border: 1px solid #d0d0d0;
    font-size: 14px;
    
    thead {
      th {
        background-color: #eff2f4;
        font-family: 'Helvetica Light';
        padding: 15px;
        text-align: center;
      }
      th:first-child {
        width: 20%;
        padding: 10px;
      }
      th:last-child {
        padding: 10px;
      }
      th:nth-child(2) {
        width: 60%;
      }
    }
    tbody {
      tr:first-child td,
      tr td:first-child {
        padding: 10px;
      }
      tr td {
        padding: 10px;
      }
      input {
        width: 85px;
        font-weight: 700;
        border-left: 1px solid #ddd;
        padding: 0 4px;
      }
      .not-applicable-text {
        color: rgba(0,0,0,.54); 
      }
    }

    th,td {
      border: 1px solid #d0d0d0;
    }
  }
  .gp-cap-pagination {
    font-size: 12px;
    color: #777;
    margin: 40px 0 0;
  }
  .page-scroll-container {
    margin: 0 20px 0 0;
    >span {
      cursor: pointer;
    }
    i {
      font-size: 14px;
    }
    .fa-angle-left {
      margin: 0 5px 0 0;
    } 
    .fa-angle-right {
      margin: 0 0 0 5px;
    } 
    >div {
      margin: 0 10px;
    }
    .gp-page-num {
      margin: 0 10px 0 0;
      cursor: pointer;
      padding: 3px 7px;
    }
    .gp-page-num.active {
      background-color: #e8e8e8;
    }
  }
  .rows-page-wrapper {
    cursor: pointer;
    position: relative;

    .page-dp-container {
      position: absolute;
      right: 0;
      background-color: #e8e6e6;
      color: rgba(33,33,33,0.87);
      font-size: 12px;
      overflow-y: scroll;
      max-height: 227px;
      width: 137px;
    }
    .page-dp-container >div {
      padding: 0 16px;
      height: 48px;
      cursor: pointer;
      line-height: 4;
    }
  }
}


@media (max-width: 1080px) {
  .gp-cap-per-wrapper .gp-cap-body {
    .gp-cap-body-container {
      width: 100%;
    }
  }
}

@media (max-width: 640px) { 
  .gp-cap-per-wrapper {
    margin: 50px 0 0;
  }
}

@media (max-width: 520px) {
  .gp-cap-per-wrapper .gp-cap-body {
    .gp-cap-body-container {
      width: 479px;
    }

    &::-webkit-scrollbar {
      height: 3px;
    }
  }
}

@media(max-width: 400px) {
  .gp-cap-per-wrapper {
    .gp-cap-pagination {
      display: block;
      text-align: center;
    }
    .page-scroll-container {
      justify-content: center;
    }
    .rows-page-wrapper {
      margin: 20px 0 0;
    }
  }
}