.corporate-plan-wrapper {
  background-color: #fff;
  height: 100%;
  padding: 20px;

  .plan-header ul {
    display: flex;
    border-bottom: 1px solid #eee;
    margin: 0 0 20px;

    a {
      color: #222;
      padding: 10px;
      display: block;
    }

    a.active {
      border-bottom: 2px solid #6b8be4;
    }
  }

  .plan-body {
    h3 {
      font-size: 18px;
      margin: 0 0 30px;
    }

    input {
      background-color: transparent;
      padding: 0;
    }
  }

  .employee-details-input-wrapper label:after {
    content: " *";
    font-size: 13px;
    vertical-align: top;
  }

  .business-row-1,
  .business-row-2 {
    display: flex;
    margin: 0 0 30px;

    >div {
      padding: 0 40px 0 0;
      width: 30%;
    }
  }

  .switch-container {
    display: flex;
    align-items: center;
  }

  .switch {
    position: relative;
    display: inline-block;
    height: 14px;
    width: 34px;
    margin: 0 10px 0 0;

    input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(158,158,158);
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      top: -3px;
      left: 0;
      right: 0;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
  }

  input:checked + .slider {
    background-color: #1667AC;

    &:before {
      transform: translateX(18px);
      background-color: #1667AC;
    }
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    
    &:before {
      border-radius: 50%;
      box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
      width: 20px;
      height: 20px;
    }
  }

  .clinic-peak-status-container {
    margin: 0 0 50px;
  }

  .hr-status-container {
    margin: 0 0 50px;
  }

  .btn-deactive {
    width: 150px;
  }

  .btn-remove-contacts {
    width: 100px;
    height: 36px;
    background: #d63129a6;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    border-radius: 2px;
    border: 0;
    color: #FFF;
  }

  .input-checkbox span.input-text {
    font-size: 12px;
  }

  .company-contacts-card-wrapper {
    border: 1px solid #e5e5e5;
    background: #fafafa;
    padding: 20px;
    display: flex;
    margin: 0 0 30px;

    >div {
      width: 30%;
      padding: 0 40px 0 0;
    }

    >div:nth-child(3) {
      text-align: center;
    }
  }

  .plan-btn-footer {
    text-align: right;

    button {
      width: 150px;
    }

    button:nth-child(1) {
      margin: 0 40px 0 0;
    }
  }
}

.current-plan-text {
  margin: 0 0 10px;
}

.active-cards-wrapper {
  margin: 20px 0 0 0;
  display: inline-block;
  width: 100%;

  .plan-header-container {
    position: relative;
    margin: 0 0 20px;

    .cog-container {
      position: absolute;
      right: 0;
      top: 0;
    }

    .cog-container i {
      font-size: 24px;
      color: rgba(0,0,0,0.54);
      cursor: pointer;
    }
  }

  .dependent-list-info-wrapper {
    height: 160px;
    overflow-y: auto;

    .dependent-list-info {
      margin: 0 0 10px;
      padding: 0 0 10px;
      border-bottom: 1px solid #ddd;
    }
    .dependent-list-info:last-child {
      margin: 0;
      padding: 0;
      border-bottom: 0;
    }
  }

  .account-container {
    margin: 0 0 20px;
    >div:first-child {
      margin: 0 0 20px;
    }
  }

  .active-plans-info {
    padding: 10px;
    margin: 0 10px 20px 0;
    box-shadow: 1px 1px 10px #8c8989;
    display: inline-block;
    vertical-align: top;
  }

  .account-title {
    font-family: 'Helvetica Medium';
    margin: 0 0 10px;
  }

  button {
    display: block;
    font-size: 12px;
    width: 200px;
    margin: 0 0 10px;
    padding: 10px;
  }
}