

.spending-invoice-wrapper {
  .spending-tbl-wrapper {
    margin: 20px 0 0;
  }
  table {
    thead tr th,
    tbody tr td {
      padding: 10px;
    }

    th {
      color: rgba(0,0,0,.54);
      font-family: 'Helvetica Light';
      border: 0;
    }
    th:first-child {
      width: 9%;
    }
    td {
      border-top: 1px rgba(0,0,0,.12) solid;
      position: relative;
    }
    td:last-child {
      text-align: center;
      cursor: pointer;
    }
    i {
      display: block;
      font-size: 14px;
      height: 24px;
      line-height: 1.9;
    }
  }
  .status-card {
    text-align: center;
    border-radius: 3px;
    padding: 3px;
    width: 100%;
    &.paid {
      background: #8FAC1B;
      color: #FFF;
    }
  }
  .actions-selector {
    background: #fff;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    padding: 8px 0;
    z-index: 1;

    >div {
      padding: 15px;
      cursor: pointer;
    }
    >div:hover {
      background-color: rgba(158,158,158,0.2);
    }
  }
  .company-drop-wrapper td {
    padding: 0;
    border-top: 0;

    &:last-child {
      text-align: left;
    }
  }
  .company-drop-details {
    padding: 40px 0;
    background-color: #f5f5f5;

    label {
      display: block;
      color: rgba(0,0,0,0.54);
    }
    input{
      border-bottom: 1px solid rgba(0,0,0,0.12);
      background-color: transparent;
      height: 30px;
      padding: 2px;
      font-size: 14px;
    }
    button {
      padding: 0 50px;
      color: #fff;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
      height: 36px;
      border-radius: 2px;
      font-size: 14px;
      font-weight: 700;
    }
    .btn-cancel {
      background: #e06161;
      margin: 0 20px 0 0;
    }
    .btn-submit {
      background: #518ac5;
    }
    .btn-spending-container {
      margin: 30px 0 0;
    }
  }
  .list-status-wrapper {
    width: 35%;
    .list-status {
      background: #ccc;
      border-radius: 0 6px 6px 0;
      padding: 15px 0;
      width: 290px;
    }
    .list-status >div {
      font-size: 16px;
      text-align: center;
    }
  }
  .spending-input-wrapper {
    margin: 0 20px 0 0;
    .date-container {
      position: relative;
    }
    .date-container i {
      position: absolute;
      top: 4px;
      right: 0;
    }
  }
}

@media (max-width: 1240px) {
  .spending-tbl-wrapper {
    overflow: auto;

    .spending-tbl-container {
      width: 685px;
    }

    &::-webkit-scrollbar {
      height: 3px;
    }
  }
}

@media (max-width: 1023px) { 
  .spending-tbl-wrapper {
    min-height: 550px;
    .spending-tbl-container {
      width: 936px;
    }
  }
}
